<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section page-title__wrapper">
        <div class="container">
            <div class="page-title">
                What is the CDPAP Program?
            </div>
        </div>
        <div class="page-title__after">
            <span></span>
            <img src="../../images/cdpap-round.svg" alt="">
        </div>
    </div>
    <div class="cdpap-main">
        <div class="container">
            <div class="section-title">Angel Care, Inc. wants clients and their families to have access to information regarding their care.</div>
            <div class="cdpap-main__text">
                <p class="accent">The CDPAP is a Medicaid funded program that enables self-directing individuals or their designated representative, to assume the responsibilities of their own care. </p>
                <p>The consumer and/or designated representative are responsible for recruiting, interviewing, hiring, training, supervising, scheduling and terminating their own staff. Your employer is the consumer and Angel Care, Inc. is a fiscal intermediary and an agent of the consumer in filing taxes, workers compensation, unemployment withholdings and disability insurance.</p>
            </div>
        </div>
    </div>
    <div class="section who-section cdpap-mid">
        <div class="container">
            <div class="who-wrapper">
                <div class="who-pic">
                    <img src="../../images/cdpap.jpg" alt="">
                    <img src="../../images/cdpap__mob.jpg" alt="">
                </div>
                <div class="who-main">
                    <a href="javascript:void(0)" class="who-link">
                        <img src="../../images/contact-us.svg" alt="">
                    </a>
                    <div class="section-title">Who can be hired as caregiver?</div>
                    <div class="who-main__descr">The consumer can hire almost anyone, including some extended family members. Regulations adopted in April 2011 expanded the definition of a family member to include a person's adult child, son-in-law or daughter-in-law.</div>
                    <div class="who-main__descr accent"><strong>New York State regulations prohibit one’s spouse or parent from being hired as one’s CDPAP aide.</strong></div>
                    <div class="who-main__descr"><strong>Any person hired must have valid work authorization and need not be "certified", as training is done by the consumer or the consumer’s family.</strong></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cdpap-bot">
        <div class="container">
            <div class="section-title">Angel Care, Inc. wants clients and their families to have access to information regarding their care.</div>
            <div class="cdpap-bot__text">
                <div class="section-title">How can I join the program?</div>
                <p>If you are a Medicaid recipient, all you need to do is bring  a form to your Primary Care Physician(PCP) and have the doctor complete, sign and date the form and send it back to Angel Care, Inc. and we will assist you in choosing the best MLTC to meet your needs. Enrollment takes time but at Angel Care, Inc. we dont waste it. <span class="accent">We will work with you to get your Personal Assistant (PA) registered and ready to render services by the time you are enrolled.</span> </p>
                <p><strong>We have your best interests at heart.</strong></p>
            </div>
        </div>
    </div>
    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
