<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="contact-us__main">
        <div class="container">
            <div class="contact-us__main-pic">
                <img src="../../images/contact-us-01.jpg" alt="">
                <img src="../../images/contact-us-01__mob.jpg" alt="">
            </div>
            <div class="contact-us__main-wrapper">
                <div class="section-title">Contact Us</div>
                <p>If you have questions/ comments/ complaints/ suggestions, we would be happy to hear from you. Please fill out <a href="#consult-form">the form</a> below and we will get back to you soon.</p>
                <p>Thank you for your interest in Angel Care</p>
            </div>
            <div class="contact-us__main-pic__additional">
                <img src="../../images/contact-us-02.jpg" alt="">
                <i><img src="../../images/contact-us-wh.svg" alt=""></i>
            </div>
        </div>
    </div>
    <div class="contact-us__quote">
        <div class="container">
            <div class="section-title">Providing the highest standards of home health care excellence</div>
            <div class="contact-us__quote-wrapper">
                <div class="contact-us__quote-pic">
                    <img src="../../images/contact-us-03.jpg" alt="">
                    <img src="../../images/contact-us-03__mob.jpg" alt="">
                </div>
                <div class="contact-us__quote-text">
                    <div class="contact-us__quote-text__inner">
                        Angel Care, Inc is committed to providing each client with a personalized care plan that will help keep our clients in their homes. We want you to have the kind of quality of life that every person deserves.
                        <span>Orci Malesuada, CEO</span>
                        <svg width="58" height="42" viewBox="0 0 58 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.8 41.6C9.06662 41.6 5.99995 40.2 3.59995 37.3999C1.33328 34.6 0.199951 30.8666 0.199951 26.2C0.199951 15.6666 5.53329 6.99995 16.2 0.199951L21 5.19995C17.2666 8.79995 15.4 12.9333 15.4 17.6C15.4 19.7333 15.8 21.3999 16.6 22.5999C17.4 23.7999 18.4666 24.4 19.8 24.4C20.8666 24.4 21.8666 24.0666 22.8 23.4C24.2666 25.1333 25 27.6 25 30.7999C25 34 23.8666 36.6 21.6 38.6C19.3333 40.6 16.4 41.6 12.8 41.6ZM45.6 41.6C41.8666 41.6 38.8 40.2 36.4 37.3999C34.1333 34.6 33 30.8666 33 26.2C33 15.6666 38.3333 6.99995 49 0.199951L53.8 5.19995C50.0666 8.79995 48.2 12.9333 48.2 17.6C48.2 19.7333 48.6 21.3999 49.4 22.5999C50.2 23.7999 51.2666 24.4 52.6 24.4C53.6666 24.4 54.6666 24.0666 55.6 23.4C57.0666 25.1333 57.8 27.6 57.8 30.7999C57.8 34 56.6666 36.6 54.4 38.6C52.1333 40.6 49.2 41.6 45.6 41.6Z" fill="#06849B"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us__contacts">
        <div class="container">
            <div class="section-title">Get in touch</div>
            <span class="section-pretitle">If you have additional questions, we are here to help </span>
            <div class="row contact-us__contacts-top">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="contact-us__contacts-top__item contact-us__contacts-top__item__green">
                        <div>Call us</div>
                        <a href="tel:">917-507-7500</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="contact-us__contacts-top__item contact-us__contacts-top__item__yellow">
                        <div>Email us</div>
                        <a href="mailto:info@angelcareny.com">info@angelcareny.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="contact-us__contacts-top__item contact-us__contacts-top__item__blue">
                        <div>Visit us</div>
                        <span>1580 Dahill Road, Floor 2, Brooklyn, NY 11204</span>
                    </div>
                </div>
            </div>
            <div class="contact-us__contacts-bot">
                <div>Office hours</div>
                <ul>
                    <li>
                        <span>Monday-Friday:  </span>9am - 5pm
                    </li>
                    <li>
                        <span>Saturday-Sunday:  </span>Closed
                    </li>
                </ul>
                <span>We are closed: Memorial Day, Labor Day, Independence Day, Thanksgiving day, Christmas Day and New Years Day (our 24 hour on call coordinator will be available for emergencies)</span>
            </div>
        </div>
    </div>
    <div class="contact-us__map">
        <div class="container">
            <div class="section-title">1580 Dahill Road, Floor 2, Brooklyn, NY 11204</div>
            <div class="contact-us__map-wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d757.2342240902085!2d-73.97489627078522!3d40.609215898708975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c244e4357a6b3f%3A0x515433470fecf9bc!2zMTU4MCBEYWhpbGwgUmQsIEJyb29rbHluLCBOWSAxMTIwNCwg0KHQqNCQ!5e0!3m2!1sru!2spl!4v1663602124885!5m2!1sru!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
