<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section page-title__wrapper">
        <div class="container">
            <div class="page-title">
                Frequently Asked Questions
                about Angel Care and CDPAP
            </div>
        </div>
        <div class="page-title__after">
            <img src="../../images/faq-round.svg" alt="">
        </div>
    </div>
    <div class="faq-popular">
        <div class="container">
            <span class="faq-title">Most popular questions</span>
            <div class="faq-popular__list row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="faq-popular__item">
                        <span>Am I eligible for these  program?</span>
                        <div>
                            <b>If you:</b>
                            <ul>
                                <li><p>Have Medicaid</p></li>
                                <li><p>Live in New York</p></li>
                                <li><p>Need assistance with activities of daily living?</p></li>
                            </ul>
                        </div>
                        <b>you may be eligible for services. </b>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="faq-popular__item">
                        <span>Who can I hire as a caregiver?</span>
                        <p>If you are interested in CDPAP and want to know who can become a caregiver here are some
                            options: </p>
                        <ul>
                            <li><b>Friend</b></li>
                            <li><b> Son or Daughter In Laws</b></li>
                            <li><b>Siblings</b></li>
                            <li><b>Children</b></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="faq-popular__item">
                        <span>Where is Angel Care available?</span>
                        <p>Proudly serving all 5 boroughs of New York City and Nassau County
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-tags">
        <div class="container">
            <div class="faq-tags__inner">
                <span>Tags:</span>
                <div>General</div>
                <div>CDPAP</div>
                <div>Payment</div>
                <div>Caregiver Benefits</div>
                <div>Hours and tracking</div>
                <div>Patients</div>
                <div>Others</div>
            </div>
        </div>
    </div>

    <div class="faq-questions">
        <div class="container">
            <div class="faq-questions__inner">
                <span class="faq-title">General questions</span>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>
                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>

                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>

                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>
                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>

                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>

                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>

            </div>
            <div class="faq-questions__inner">
                <span class="faq-title">CDPAP</span>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>
                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>

                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>

                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq-questions__inner">
                <span class="faq-title">Payment</span>
                <div class="faq-item">
                    <div class="faq-item__head">
                        <span>How much do you pay?</span>
                        <i>
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 6L4.79592 5.79661L-5.33427e-08 1.22034L1.12245 0.101694L1.32653 0.305084L5 3.76271L8.87755 -4.90638e-08L10 1.11864L5 6Z"
                                    fill="#06849B"/>
                            </svg>
                        </i>
                    </div>
                    <div class="faq-item__body">
                        <p>
                            You will need to have your HHA certificate, a recent physical (within the last 12 months)
                            with all lab reports including Rubella/Measles, PPD test or Quantiferon Gold Assay (if
                            positive a chest x-ray is required), a drug test, 2 forms of ID (employment auth, permanent
                            resident card, passport, social security card, student ID, state or federal ID) and 2 typed
                            reference letters. You can call our office and we will schedule a day for you to come in and
                            apply. If you have all of your paperwork, you may be able to attend your orientation right
                            away and get working!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
