<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section page-title__wrapper">
        <div class="container">
            <div class="page-title">
                Home Health Aides
            </div>
        </div>
        <div class="page-title__after">
            <span></span>
        </div>
    </div>
    <div class="health-aide__main">
        <div class="container">
            <div class="section-title">Home health care is exactly what it sounds like - medical care provided in a
                comfort of a patient's home
            </div>
        </div>
    </div>
    <div class="homehealthe">
        <div class="homehealthe__pic">
            <div>
                <img src="../../images/homehealthe.png" alt="">
                <img src="../../images/homehealthe-mob.png" alt="">
            </div>
        </div>
        <div class="container">
            <div class="homehealthe__inner">
                <p><b>With the progression of age, certain daily activities become more challenging. For our elderly
                    loved ones, it can be close to Impossible to take good care of themselves without any
                    assistance. This is where we come in!</b></p>
                <p>Angel Care Inc provides a wide range of services specifically designed for those who need them
                    most. Choosing Angel Care, Inc. Homecare means opting for a compassionate, convenient, and
                    reliable care for your loved ones. Allow us to lift the burden of constant worry about the
                    wellbeing of those you care about. Let us bring you the relief you need as we help you live
                    again!</p>
            </div>
        </div>
    </div>
    <div class="homehealthe-care">
        <div class="container">
            <div class="section-title">How our HHA’s care</div>
            <div class="homehealthe-care__wrapper">
                <div class="homehealthe-care__item">
                    <div class="homehealthe-care__head"><span>Accompaniment</span></div>
                    <div class="homehealthe-care__body">
                        <ul>
                            <li>
                                <span>Doctor’s Visits</span>
                            </li>
                            <li>
                                <span>Appointments</span>
                            </li>
                            <li>
                                <span>Grocery Shopping</span>
                            </li>
                            <li>
                                <span>Social Activities</span>
                            </li>
                            <li>
                                <span>Family Events</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="homehealthe-care__item">
                    <div class="homehealthe-care__head"><span>Activities of daily living</span></div>
                    <div class="homehealthe-care__body">
                        <ul>
                            <li>
                                <span>Bathing</span>
                            </li>
                            <li>
                                <span>Grooming</span>
                            </li>
                            <li>
                                <span>Dressing</span>
                            </li>
                            <li>
                                <span>Light Housekeeping</span>
                            </li>
                            <li>
                                <span>Meal Preparation</span>
                            </li>
                            <li>
                                <span>Laundry</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="caregiver-courses__faq">
        <div class="container">
            <div class="faq-items">
                <div class="section-title">Frequently Asked Questions</div>
                <div class="faq-item">
                    <div class="faq-head">
                        Why Should I Attend a Caregiver Training Course?
                        <i>
                            <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z"
                                    fill="#06849B"/>
                            </svg>
                        </i>
                    </div>
                    <div class="faq-body">
                        Taking a Home Health Aide Training will allow you to familiarize yourself with the standards of
                        care in the industry and help you make better choices for your clients. The Home Health Aide
                        Training will prepare you for the world of home care. You will learn how to shop for the
                        patient, make the bed if it is still occupied, give a bed bath, maintain healthy diets for
                        clients with dietary restrictions, and how to use tools like the hoyer lift and gait belt. These
                        skills set you apart from other people and this is why clients come to you for service!
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-head">
                        How Do I Apply for Caregiver Training Courses?
                        <i>
                            <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z"
                                    fill="#06849B"/>
                            </svg>
                        </i>
                    </div>
                    <div class="faq-body">
                        Angel Care, Inc. partners with many schools in the 5 boroughs and can help you find a training
                        center close to home. We will put you in touch with facilities that will provide you with the
                        training you need to excel in your position and become an A+ caregiver.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homehealthe-text">
        <div class="container">
            <div class="homehealthe-text__inner">
                <p>Bring home a certified, trusted caregiver
who tends to your every personal care need.
Angel Care staffs a vast team of multicultural
paraprofessionals, who provide assistance
with your activities of daily living.</p>
            </div>
        </div>
    </div>
    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
