<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>
${require('../parts/header.html')}
<main class="main nhtd">
    <div class="section page-title__wrapper">
        <div class="container">
            <div class="page-title">
                What is the Nursing Home Transition and Diversion Waiver Program (NHTD)?
            </div>
        </div>
        <div class="page-title__after">
            <span></span>
        </div>
    </div>
    <div class="skilled-services__top">
        <div class="container">
            <div class="section-title">The NHTD Medicaid waiver was developed based on the philosophy that individuals
                with disabilities and/or seniors have the same rights as others.
            </div>
            <div class="skilled-services__top-descr">
                <p class="accent">This includes the right to be in control of their lives, encounter and manage risks
                    and learn from their experiences. This is balanced with the waiver program's responsibility to
                    assure the waiver participants' health and welfare.</p>
                <p>Waiver services are provided based on the participant's unique strengths, needs, choices and
                    goals. The individual is the primary decision-maker and works in cooperation with providers to
                    develop a Service Plan. This process leads to personal empowerment, increased independence, greater
                    community inclusion, self-reliance and meaningful productive activities. Waiver participant
                    satisfaction is a significant measure of success of the NHTD waiver</p>
            </div>
        </div>
    </div>
    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
