<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>
${require('../parts/header.html')}
<main class="main nhtd">
    <div class="section page-title__wrapper">
        <div class="container">
            <div class="page-title">
                How Do I Apply?
            </div>
        </div>
        <div class="page-title__after">
            <span></span>
        </div>
    </div>
    <div class="skilled-services__top nhtd">
        <div class="container">
            <div class="section-title">
                Referral
            </div>
            <div class="skilled-services__top-descr">
                <p>A potential participant or an individual acting on his/her behalf contacts the RRDC in the region
                    where he/she chooses to reside or where they are currently living. The RRDS completes the Referral
                    form (refer to Appendix B) and makes a determination whether to proceed to the Intake process. If
                    the individual is considered not to meet the basic criteria for the waiver or indicates his/her
                    preference not to pursue admission into the NHTD waiver, the RRDS will provide available options for
                    referrals to other programs/services.</p>
                <p class="accent">Note: It is expected that within two (2) weeks of receiving the referral the RRDS will
                    make contact with the individual and schedule an Intake. If it is immediately apparent that the
                    Referral will not proceed to Intake (e.g. the individual is under age 18), the RRDS has two (2)
                    business days to contact the individual and give them information for other community resources.</p>
                </p>
            </div>
        </div>
    </div>
    <div class="section nhtd-apply">
        <div class="nhtd-offers__pic">
            <div>
                <img src="../../images/pixel.png" data-original="../../images/nhtd-apply.png" class="lazy" alt="">
                <img src="../../images/pixel.png" data-original="../../images/nhtd-apply-mob.png" class="lazy" alt="">
            </div>
        </div>
        <div class="container">
            <div class="nhtd-offers__inner-yellow">
                <span>Intake</span>
                <p>If the potential participant has a Legal Guardian the RRDS will request a copy of the Guardianship
                    document be provided at the time of Intake. The RRDS meets with the potential participant, his/her
                    Legal Guardian, if applicable and anyone the potential participant chooses to be present and
                    describes the waiver philosophy and available services.</p>
                <p>The RRDS provides the potential participant with a list of approved Service Coordination providers
                    and encourages him/her to interview potential Service Coordinators.</p>
                <p>
                    The potential participant selects a Service Coordination Agency from the list of approved providers,
                    completes the Service Coordinator Selection form (refer to Appendix B – form B.5) and returns it to
                    the RRDS. The RRDS forwards the Service Coordinator Selection form to the selected Service
                    Coordinator provider for their signature along with a copy of the Intake form.
                </p>
            </div>
        </div>
    </div>
    <div class="section nhtd-application">
        <div class="container">
            <span class="nhtd-application__title">Application</span>
            <div class="nhtd-application__inner">
                <p>It is at this point the individual becomes a formal applicant. The applicant and anyone he/she may
                    choose, works with their chosen Service Coordinator to develop an ISP (refer to Appendix C – form
                    C.1) and PPO. This process includes the applicant and Service Coordinator working together to
                    develop the ISP and PPO.
                    The Service Coordinator assembles the Application Packet, which includes the following forms:</p>
                <ul>
                    <li>Application for Participation - completed with the RRDS</li>
                    <li>Participant Rights and Responsibilities</li>
                    <li>H/C PRI and SCREEN</li>
                    <li>Initial Service Plan (ISP) - including Medicaid coverage Verification (Medicaid Eligibility
                        Verification System)
                    </li>
                    <li>Provider Selection form(s)</li>
                    <li>Insurance, Resource and Funding Information Sheet;</li>
                    <li>Plan of Protective Oversight (PPO)</li>
                    <li>Proof of physical disability determination (if under age 65)</li>
                    <li>Freedom of Choice - completed with the RRDS</li>
                    <li>Service Coordination Selection - completed with the RRDS</li>
                </ul>
                <p>The Service Coordinator sends his/her part of the completed Application Packet to the RRDS which
                    includes Participant Rights and Responsibilities, H/C PRI and SCREEN , PPO, Initial Service Plan,
                    Provider Selection forms, Insurance, Resource and Funding Information Sheet, Proof of disability
                    determination (if under age 65) (refer to Section V - The Service Plan).</p>
            </div>
            <div class="nhtd-application__big-text">
                Then a determination is made by the RRDS. As your Service Coordinators, we are with you every step of
                the way!
            </div>
        </div>
    </div>

    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
