<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>
${require('../parts/header.html')}
<main class="main nhtd">
    <div class="section page-title__wrapper">
        <div class="container">
            <div class="page-title">
                Which Services Angel Care, Inc. Offers
            </div>
        </div>
        <div class="page-title__after">
            <span></span>
        </div>
    </div>
    <div class="skilled-services__top nhtd">
        <div class="container">
            <div class="section-title">
                Home and Community Support Services (HCSS) are utilized when oversight and/or supervision as a discrete
                service is necessary to maintain the health and welfare of the participant living in the community.
            </div>
            <div class="skilled-services__top-descr">
                <p>Oversight and/or supervision may be needed for safety monitoring to prevent an individual from
                    harmful activities (for example wandering or leaving the stove on unattended).</p>
                <p class="accent">Oversight and/or supervision can be accomplished through cueing, prompting, direction
                    and instruction.</p>
                <p><b>If the applicant/participant does not require oversight and/or supervision,</b> HCSS would not be
                    appropriate. HCSS can also be provided to participants needing oversight and/or supervision, <b>who
                        also
                        require assistance with personal care services.</b>
                </p>
            </div>
        </div>
    </div>
    <div class="section nhtd-offers">
        <div class="nhtd-offers__title-wrap">
            <span class="nhtd-offers__title">Home and Community Support Services</span>
        </div>
        <div class="nhtd-offers__pic">
            <div>
                <img src="../../images/pixel.png" data-original="../../images/nhtd-offers.png" class="lazy" alt="">
                <img src="../../images/pixel.png" data-original="../../images/nhtd-offers-mob.png" class="lazy" alt="">
            </div>
        </div>
        <div class="container">
            <div class="nhtd-offers__inner">
                <p>Personal Care services is defined as some or total assistance with Activities of Daily Living (ADL)
                    such as dressing, bathing, hygiene/grooming, toileting, ambulation/mobility, transferring and
                    eating, and/or Instrumental Activities of Daily Living (IADL) such as housekeeping, shopping, meal
                    preparation, laundry, transportation and telephone use essential to the maintenance of the
                    participant's health and welfare in the community. HCSS can support this as long as the discrete
                    oversight and/or supervision component is needed. </p>
                <b>Since HCSS staff must be trained to the Personal Care Aide (PCA) Level, they will be able to perform
                    the scope of personal care tasks and functions necessary for an individual who also requires
                    oversight and/or supervision. The HCSS worker is never allowed to exceed this scope of practice.</b>
            </div>
        </div>
    </div>
    <div class="section nhtd-offers-coordination">
        <div class="container">
            <div class="nhtd-offers-coordination__inner">
                <span class="nhtd-offers-coordination__title">Service Coordination</span>
                <span class="nhtd-offers-coordination__subtitle">
                    Service Coordination (SC) is an individually designed intervention which provides primary assistance to the waiver applicant/participant in gaining access to needed waiver and Medicaid State Plan services, as well as other local, state and federally funded educational, vocational, social, medical and any other services.
                </span>
                <span class="nhtd-offers-coordination__text">These interventions are expected to result in assuring the waiver participant's health and welfare and increasing independence, integration and productivity. </span>
                <ul class="nhtd-offers-coordination__list coordination-list">
                    <li>
                        <span>1</span>
                        <p>The Service Coordinator (SC) will assist the applicants/participants in obtaining and
                            coordinating the services that are necessary to return to or remain in the community.</p>
                    </li>
                    <li>
                        <span>2</span>
                        <p>The applicant/participant is the primary decision-maker in the development of goals, and
                            selection of supports and individual service providers. The SC is responsible for assuring
                            that the SP is implemented appropriately and supports the participant to become an effective
                            self-advocate and problem solver. Together they work to develop and implement the SP, which
                            reflects the participant's goals.</p>
                    </li>
                    <li>
                        <span>3</span>
                        <p>The SC assists the applicant/participant in the development of the individualized SP and will
                            include those individuals chosen by the applicant/participant to also participate in the
                            process. Following the approval of the SP, the SC will assist the waiver participant in
                            implementing the plan, as well as reviewing its effectiveness. </p>
                    </li>
                    <li>
                        <span>4</span>
                        <p>Throughout his/her involvement with the waiver participant, the SC will support and encourage
                            the waiver participant to increase his/her ability to problem-solve, be in control of life
                            situations, and be independent. The SC will also assist the applicant/participant to
                            complete the Plan of Protective Oversight (PPO).</p>
                    </li>
                </ul>
                <span class="nhtd-offers-coordination__bot-title">Questions that a SC should explore with the
                    participant include:</span>
                <ul class="nhtd-offers-coordination__questions questions-list">
                    <li><span>What are the participant's goals?</span></li>
                    <li><span>What can be done to help the participant fulfill his/her goals?</span></li>
                    <li><span>How can the participant be assisted to become a member of the community?</span></li>
                    <li><span>What can be done to assist the participant to be more independent?</span></li>
                </ul>
            </div>
            <div class="nhtd-offers-coordination__line">
                <span>OTHER SERVICES OFFERED UNDER THE NHTD WAIVER PROGRAM</span>
            </div>
        </div>
    </div>
    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
