<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>
${require('../parts/header.html')}
<main class="main nhtd">
    <div class="section page-title__wrapper">
        <div class="container">
            <div class="page-title">
                Am I Eligible for the Program?
            </div>
        </div>
        <div class="page-title__after">
            <span></span>
        </div>
    </div>
    <div class="skilled-services__top nhtd">
        <div class="container">
            <div class="section-title">
                An individual applying to participate in the waiver must meet <b>all</b> of the following criteria in
                order to
                be approved for the NHTD waiver:
            </div>
        </div>
    </div>
    <div class="section nhtd-eligible">
        <div class="container">
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-01.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Be a recipient of Medicaid coverage that supports community-based long-term care services. Such
                        coverage includes:</p>
                    <ul>
                        <li>All Services except Nursing Facility Service;</li>
                        <li>Community Coverage with Community-Based Long Term Care;</li>
                        <li>Outpatient Coverage with Community-Based Long Term Care;</li>
                        <li>Outpatient Coverage with no Nursing Facility Services.</li>
                    </ul>
                    <p class="accent">Note: Type of coverage must be verified by providing a copy of Medicaid
                        verification from the
                        New York State system with the submission of the application packet. (The Service Coordinator
                        attaches this to the Initial Service Plan).</p>
                </div>

            </div>
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-02.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Be between age 18 and 64 with a physical disability, or age 65 and older upon application to the
                        waiver; If under age 65, the physical disability will be documented by:</p>
                    <p><span class="accent">a)</span> award letters/determination of:</p>
                    <ul>
                        <li>Supplemental Security Income (SSI);</li>
                        <li>Social Security Disability Insurance (SSDI);</li>
                        <li>Railroad Retirement letter for total permanent disability for SSI benefits.</li>
                    </ul>
                    <p class="accent">Note: Because eligibility is restricted to individuals with physical disabilities,
                        additional information may be needed to verify the existence of such a disability.</p>
                    <p><span class="accent">b)</span> a letter from the Local Department of Social Services or local
                        disability team (form LDSS
                        4141) stating the individual has been determined to have a physical disability;</p>
                    <p><span class="accent">c)</span> ocumentation from the individual's physician, hospital summaries
                        or Nursing Home records verifying the physical disability.</p>
                </div>

            </div>
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-03.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Be assessed to need a nursing home level of care. Nursing home eligibility is determined by the
                        Hospital and Community Patient Review Instrument (H/C PRI) and SCREEN (refer to Appendix F). The
                        forms must be dated within ninety (90) calendar days of the individual's application to the
                        waiver and be completed by an individual certified by the State of New York to administer the
                        tool.</p>
                </div>

            </div>
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-04.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Sign the Freedom of Choice form indicating that he/she chooses to participate in the NHTD waiver
                        (refer to Appendix B – form B.4).</p>
                </div>

            </div>
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-05.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Be able to identify the actual location and living arrangements in which the waiver participant
                        will be living when participating in the waiver.</p>
                </div>

            </div>
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-06.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Complete and submit an Application Packet which includes the Initial Service Plan (refer to
                        section C below - Application) in cooperation with the Service Coordinator. This Initial Service
                        Plan must describe why the individual is at risk for nursing home placement without the services
                        of the waiver and indicate how the available supports and requested waiver services identified
                        in the Plan and how the use of the waiver services will prevent institutionalization. The
                        potential applicant must need at least one waiver service (see section C below - Referral,
                        Intake, Application and Determination processes).</p>
                </div>

            </div>
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-07.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Have a completed Plan for Protective Oversight (PPO) (refer to Appendix C – C.4). Be capable of
                        directing his/her Service Plan or has a legal guardian available to direct the participant's
                        Service Plan.</p>
                </div>

            </div>
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-08.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Services agreed upon in the Initial Service Plan (ISP) must meet regional and statewide cost
                        neutrality.</p>
                </div>

            </div>
            <div class="nhtd-eligible__item">
                <div class="nhtd-eligible__pic">
                    <div>
                        <img src="../../images/pixel.png" data-original="../../images/eligible-09.png" class="lazy"
                             alt="">
                    </div>
                </div>
                <div class="htd-eligible__text">
                    <p>Be able to live in the community where health and welfare can be maintained as determined by the
                        RRDS.</p>
                </div>

            </div>
        </div>
    </div>

    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
