<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Angel Care</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section page-title__wrapper vacancy-title__wrapper">
        <div class="container">
            <a class="vacancy-title__tag" href="javascript:void(0)">Nursing</a>
            <div class="page-title">Healthcare Provider Assistant</div>
            <ul class="vacancy-title__specs">
                <li>Full Time</li>
                <li>New York, NY, US</li>
            </ul>
            <a class="vacancy-title__btn btn" href="#vacancies-form">Aplly a job</a>
        </div>
    </div>
    <div class="vacancies-main">
        <div class="container">
            <div class="row vacancies-wrapper">
                <div class="col-md-8 col-sm-12">
                    <div class="vacancy-main">
                        <ul class="vacancy-main__specs">
                            <li>
                                Job Title: <span>Marketing Automation Director</span>
                            </li>
                            <li>
                                Classification: <span>Exempt</span>
                            </li>
                            <li>
                                Job Type: <span>Full-Time</span>
                            </li>
                            <li>
                                Location:<span>NYC / Hybrid – 3 days in office</span>
                            </li>
                        </ul>
                        <h2>Responsibilities</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus donec risus cras mi. Amet tortor sociis penatibus quam. Ultrices urna faucibus tristique in hendrerit semper mattis tortor. Varius elit, et sit adipiscing laoreet eros, ac. Mi convallis diam purus, iaculis in molestie sit augue. Quam quis amet eget laoreet commodo eget lorem. Aliquam enim magna sit elementum. Urna sagittis non habitasse scelerisque.</p>
                        <p>Purus vulputate ut mauris accumsan et nulla nulla sed. Posuere justo, ornare condimentum in elementum lacus. Mauris sapien egestas nunc amet adipiscing sit aliquam. Duis magna ultricies varius arcu, ac massa at eros. Mi tellus posuere amet nec, dignissim tincidunt magna. </p>
                        <p>Purus vulputate ut mauris accumsan et nulla nulla sed. Posuere justo, ornare condimentum in elementum lacus. Mauris sapien egestas nunc amet adipiscing sit aliquam. Duis magna ultricies varius arcu, ac massa at eros. Mi tellus posuere amet nec, dignissim tincidunt magna. Nec nibh sollicitudin pretium auctor. Eleifend scelerisque cursus scelerisque elit. Fermentum, cursus tincidunt viverra arcu ornare elementum vulputate. Cras hac in proin tellus in sollicitudin purus sed ipsum. Dolor sit aliquet viverra volutpat aenean. Ullamcorper leo ultricies sapien neque, iaculis tortor donec et. Dolor urna, euismod arcu sed. In purus aenean risus sollicitudin vitae.</p>
                        <p>Dolor vitae, mattis scelerisque aliquet blandit tristique mauris scelerisque cras. Eget et condimentum in enim consequat interdum nunc lorem vitae. Egestas sed mauris neque eget molestie mollis nunc fermentum. Tincidunt arcu etiam amet vitae. Tellus mattis sit facilisi tellus tincidunt orci. Lorem nisi tellus pharetra non aliquam aliquet quis lorem ac. Diam faucibus quam risus, sed in. Adipiscing purus pellentesque risus proin. Et nunc, velit id nisl, nisl dignissim. Iaculis ac augue dictum posuere. Commodo ac vitae sagittis, lectus eu. Mi euismod vel morbi est elit mauris. Nulla massa tristique feugiat nunc aliquet morbi pulvinar mi magna.</p>
                        <h2>Skills</h2>
                        <p>Sollicitudin amet urna accumsan, et porta vivamus vitae. Cras sed nibh id ultrices in bibendum est. Posuere vivamus augue eu ut sagittis, lectus hac sed. Lorem felis sit ultricies elementum et tincidunt. Dui eget dignissim feugiat nulla consequat. Amet, sollicitudin laoreet molestie arcu. Cras lectus id viverra interdum.</p>
                        <p>Ornare adipiscing libero tempus, sed praesent. Aliquam porttitor nullam viverra nunc lorem. Nisl fames leo, arcu porttitor interdum feugiat convallis risus. Nisl nisl, eu phasellus tincidunt. Eleifend quisque eget eget nibh at nascetur tellus.</p>
                        <p>Habitasse volutpat amet eu amet. Mattis fames eu at in egestas diam aliquam libero. At vestibulum sapien risus natoque mauris. Leo ultrices ac platea dolor, nisl. Arcu vel amet aliquam lacus volutpat.</p>
                        <div class="vacancy-main__buttons">
                            <a href="javascript:void(0)" class="btn btn-tr">Back</a>
                            <a href="#vacancies-form" class="btn">Aplly a job</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <aside class="vacancies-sidebar">
                        <div class="vacancies-sidebar__top">
                            <img src="../../images/logo.svg" alt="">
                            <span>Provides the highest standards of home health care excellence</span>
                        </div>
                        <div class="blog-aside__item">
                            <span class="blog-aside__title">Contact us</span>
                            <div class="blog-aside__inner">
                                <small>Do you have a question or do you just want to speak with us?</small>
                                <a href="tel:9175077500">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_2_4626)">
                                            <path d="M7.54 5C7.6 5.89 7.75 6.76 7.99 7.59L6.79 8.79C6.38 7.59 6.12 6.32 6.03 5H7.54ZM17.4 17.02C18.25 17.26 19.12 17.41 20 17.47V18.96C18.68 18.87 17.41 18.61 16.2 18.21L17.4 17.02ZM8.5 3H5C4.45 3 4 3.45 4 4C4 13.39 11.61 21 21 21C21.55 21 22 20.55 22 20V16.51C22 15.96 21.55 15.51 21 15.51C19.76 15.51 18.55 15.31 17.43 14.94C17.33 14.9 17.22 14.89 17.12 14.89C16.86 14.89 16.61 14.99 16.41 15.18L14.21 17.38C11.38 15.93 9.06 13.62 7.62 10.79L9.82 8.59C10.1 8.31 10.18 7.92 10.07 7.57C9.7 6.45 9.5 5.25 9.5 4C9.5 3.45 9.05 3 8.5 3Z" fill="#06849B"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2_4626">
                                                <rect width="24" height="24" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    (917) 507-7500
                                </a>
                                <a href="mailto:info@angelcareny.com">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_2_4629)">
                                            <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 11L4 6H20ZM20 18H4V8L12 13L20 8V18Z" fill="#06849B"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2_4629">
                                                <rect width="24" height="24" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    info@angelcareny.com
                                </a>
                            </div>
                        </div>
                        <div class="blog-aside__item vacancies-sidebar__popular">
                            <span class="blog-aside__title">Similar positions</span>
                            <div class="blog-aside__inner">
                                <ul class="vacancies-sidebar__list">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <div>Nurse for child</div>
                                            <span>Full Time</span>
                                            <span>New York, NY, US</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <div>Caregiver Assistant</div>
                                            <span>Full Time</span>
                                            <span>New York, NY, US</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <div>Caregiver Assistant</div>
                                            <span>Full Time</span>
                                            <span>Boston, NY, US</span>
                                        </a>
                                    </li>
                                </ul>
                                <a class="vacancies-sidebar__more" href="javascript:void(0)">All similar positions >></a>
                            </div>
                        </div>
                        <div class="blog-aside__item vacancies-sidebar__tags">
                            <span class="blog-aside__title">Tags</span>
                            <div class="blog-aside__inner">
                                <div class="vacancies-tags">
                                    <a href="javascript:void(0)"># Nursing</a>
                                    <a href="javascript:void(0)"># PCA </a>
                                    <a href="javascript:void(0)"># HHA</a>
                                    <a href="javascript:void(0)"># CDPAP</a>
                                    <a href="javascript:void(0)"># Caregiver</a>
                                    <a href="javascript:void(0)"># NHDT</a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="vacancies-form" id="vacancies-form">
        <div class="container">
            <form class="ajax_form clear-styles" data-error-title="Sending error!" data-error-message="Please try again later." data-success-title="Thank you for contacting us." data-success-message="We will contact you shortly.">
                <span class="vacancies-form__title">Have a question?</span>
                <div class="vacancies-form__descr">To learn more about our home care services, contact our caregiving team today at (917) 507-7500   or info@angelcareny.com</div>
                <div class="consult-form__row">
                    <div class="col">
                        <div class="input-wrapper">
                            <input class="input" type="text" name="first_name" placeholder="First Name" data-title="First Name">
                        </div>
                        <div class="input-wrapper">
                            <input class="input" type="text" name="phone" placeholder="Phone Number*" data-title="Phone Number" data-validate-required="Required!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-wrapper">
                            <input class="input" type="text" name="email" placeholder="Email Address" data-title="Email Address">
                        </div>
                        <div class="input-wrapper">
                            <input class="input" type="text" name="message" placeholder="Message*" data-title="Message" data-validate-required="Required!">
                        </div>
                    </div>
                </div>
                <div class="consult-form__row">
                    <div class="file-upload">
                        <label>
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 4C11.88 4 8.64 7.13 8.187 11.125C7.31565 11.2654 6.49846 11.6388 5.82195 12.2056C5.14544 12.7725 4.63477 13.5117 4.344 14.345C1.884 15.054 0 17.248 0 20C0 23.324 2.676 26 6 26H26C29.324 26 32 23.324 32 20C32 18.24 31.145 16.664 29.906 15.562C29.674 12.048 26.871 9.244 23.344 9.062C22.14 6.133 19.378 4 16 4ZM16 6C18.762 6 20.97 7.77 21.75 10.28L21.97 11H23C25.755 11 28 13.245 28 16V16.5L28.406 16.813C28.896 17.1885 29.2942 17.6706 29.5703 18.2228C29.8465 18.7749 29.9934 19.3827 30 20C30 22.276 28.276 24 26 24H6C3.724 24 2 22.276 2 20C2 17.98 3.45 16.412 5.28 16.094L5.937 15.969L6.062 15.311C6.362 13.964 7.556 13 9 13H10V12C10 8.63 12.63 6 16 6ZM16 11.594L15.28 12.281L11.28 16.281L12.72 17.721L15 15.437V22H17V15.437L19.28 17.719L20.72 16.279L16.72 12.279L16 11.594Z" fill="white"/>
                            </svg>
                            <input id="uploaded-file" data-error="Upload correct file!" type="file" name="file" />
                            <span id="preview">Upload you CV (format pdf, word)</span>
                        </label>
                    </div>
                </div>
                <div class="consult-form__row">
                    <div class="checkbox-wrapper">
                        <input type="checkbox" id="agree">
                        <label for="agree">
                            <span></span>
                            Angel Care Inc may contact me at this number via calls or texts (including through use of an automatic telephone dialing system) to provide information about or to help me enroll in CDPAP with Angel Care. Your consent is not required to enroll. Message and data rates may apply.
                        </label>
                    </div>
                </div>
                <div class="consult-form__row">
                    <button type="submit" class="btn" data-sending="Sending..." data-error="Error :(" data-sent="Sent">Send</button>
                </div>
            </form>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

</body>
</html>
