.welcome-section{
  padding-top: 35px;
  padding-bottom: 50px;
  @include bp(xs) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .section-pretitle{
    margin-bottom: 5px;
    text-align: center;
    @include bp(xs) {
      margin-bottom: 0;
    }
  }
  .section-title{
    margin-bottom: 23px;
    text-align: center;
    @include bp(xs) {
      margin-bottom: 20px;
    }
  }
}

.section-pretitle{
  display: block;
  font-size: 21px;
  line-height: 130%;
  @include bp(xs) {
    font-size: 16px;
  }
}

.section-title{
  display: block;
  color: $main;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  @include bp(xs) {
    font-size: 30px;
  }
}

.welcome-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  @include bp(xs) {
    margin: 0 -15px -20px;
  }
  .col{
    width: 285px;
    padding: 0 15px;
    margin-bottom: 30px;
    @include bp(xs) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.welcome-item{
  padding: 24px 25px 25px;
  background-color: $main;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(xs) {
    min-height: 236px;
    padding: 30px 15px;
  }
  i{
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  span{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 130%;
    @include bp(xs) {
      height: 66px;
    }
  }
  .btn{
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
  }
}
