.process-section{
  padding-top: 85px;
  padding-bottom: 95px;
  background-color: $bg-grey;
  overflow: hidden;
  @include bp(xs) {
    padding-top: 35px;
    padding-bottom: 72px;
  }
}

.process-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
  @include bp(sm) {
    flex-direction: column;
    margin-bottom: 72px;
  }
  .btn{
    background-color: $red;
    border-color: $red;
    color: #fff;
    width: 270px;
    box-shadow: 0 4px 20px rgba(64, 64, 64, 0.2);
    @include bp(md) {
      width: 200px;
    }
    @include bp(sm) {
      width: 270px;
      margin: 30px auto 0;
    }
    @include bp(xs) {
      width: 100%;
    }
    &:hover{
      background-color: $main;
      border-color: $main;
      color: #fff;
    }
  }
}

.process-body{
  display: flex;
  @include bp(sm) {
    flex-direction: column;
    align-items: center;
  }
  >.col{
    padding-top: 158px;
    margin-right: 72px;
    @include bp(lg) {
      margin-right: 60px;
    }
    @include bp(sm) {
      margin-right: 0;
      padding-top: 78px;
    }
    &.double{
      padding-top: 30px;
      margin-right: 130px;
      position: relative;
      @include bp(lg) {
        margin-right: 62px;
      }
      @include bp(md) {
        margin-right: 45px;
        padding-top: 50px;
      }
      @include bp(sm) {
        width: 210px;
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        padding-top: 78px;
      }
      >svg{
        position: absolute;
        left: calc(100% + 64px);
        top: 228px;
        @include bp(lg) {
          left: calc(100% + 5px);
        }
        @include bp(md) {
          top: 202px;
          left: calc(100% - 5px);
        }
        @include bp(sm) {
          left: 50%;
          transform: translateX(-50%) rotate(90deg);
          top: calc(100% + 36px);
        }
      }
      .process-item{
        +.process-item{
          margin-top: 40px;
          @include bp(sm) {
            margin-top: 0;
          }
        }
        >div{
          >svg{
            display: none;
          }
        }
      }
      &.md{
        padding-top: 0;
        margin-right: 140px;
        @include bp(lg) {
          margin-right: 90px;
        }
        @include bp(md) {
          margin-right: 45px;
        }
        @include bp(sm) {
          width: 270px;
          margin-right: 0;
        }
        >svg{
          left: calc(100% + 30px);
          @include bp(lg) {
            left: calc(100% + 5px);
          }
          @include bp(md) {
            left: calc(100% - 5px);
          }
          @include bp(sm) {
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            top: calc(100% + 36px);
          }
        }
        .process-item{
          +.process-item{
            margin-top: 60px;
            @include bp(sm) {
              margin-top: 0;
              margin-left: 50px;
            }
          }
          >span{
            @include bp(sm) {
              min-width: max-content;
              max-width: max-content;
            }
          }
        }
      }
      .process-item{
        >span{
          position: relative;
          min-width: max-content;
          left: 50%;
          transform: translateX(-50%);
          @include bp(sm) {
            min-width: 100%;
            max-width: 100%;
          }
        }
      }
    }
    &.lg{
      padding-top: 42px;
      @include bp(sm) {
        padding-top: 0;
      }
    }
    &.md{
    }
    &.sm{
      padding-top: 163px;
      @include bp(sm) {
        padding-top: 78px;
      }
    }
    &.xs{
      padding-top: 168px;
      @include bp(sm) {
        padding-top: 78px;
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

.process-item{
  width: 140px;
  @include bp(lg) {
    width: 130px;
  }
  @include bp(md) {
    width: 100px;
  }
  >div{
    position: relative;
    width: 140px;
    height: 140px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp(lg) {
      width: 130px;
      height: 130px;
    }
    @include bp(md) {
      width: 100px;
      height: 100px;
    }
    >i{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 118px;
      height: 118px;
      @include bp(lg) {
        width: 108px;
        height: 108px;
      }
      @include bp(md) {
        width: 85px;
        height: 85px;
      }
      >svg{
        @include bp(md) {
          width: 40px;
        }
      }
    }
    >svg{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 20px);
      @include bp(lg) {
        left: calc(100% + 14px);
      }
      @include bp(md) {
        left: calc(100% + 14px);
      }
      @include bp(sm) {
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        top: calc(100% + 63px);
      }
    }
  }
  >span{
    display: block;
    text-align: center;
    font-size: 21px;
    line-height: 130%;
    margin-top: 14px;
    @include bp(md) {
      font-size: 18px;
      margin-top: 15px;
      min-width: 120px;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
    }
    @include bp(sm) {
      min-width: max-content;
      font-size: 16px;
      color: $main;
      margin-top: 4px;
    }
  }
  &__blue{
    >div{
      border-color: $main;
      >i{
        background-color: $main;
      }
    }
  }
  &__yellow{
    >div{
      border-color: $yellow;
      >i{
        background-color: $yellow;
      }
    }
  }
  &__red{
    >div{
      border-color: $red;
      >i{
        background-color: $red;
      }
    }
  }
  &__green{
    >div{
      border-color: $green;
      >i{
        background-color: $green;
      }
    }
  }
  &__call{
    >div{
      >svg{
        top: auto;
        bottom: 33px;
        transform: none;
        left: calc(100% + 33px);
        @include bp(lg) {
          left: calc(100% + 20px);
        }
        @include bp(md) {
          left: calc(100% + 15px);
        }
        @include bp(sm) {
          left: 50%;
          transform: translateX(-50%) rotate(90deg);
          top: calc(100% + 65px);
        }
      }
    }
  }
  &__email{
    margin-top: 60px;
    position: relative;
    @include bp(sm) {
      margin-top: 0;
    }
    >svg{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(100% + 20px);
      @include bp(sm) {
        transform: none;
        bottom: auto;
        top: 45px;
        left: auto;
        width: 20px;
        height: 20px;
        right: calc(100% + 15px);
      }
    }
    >div{
      >svg{
        top: auto;
        bottom: 60px;
        transform: none;
        left: calc(100% + 33px);
        @include bp(lg) {
          left: calc(100% + 20px);
        }
        @include bp(md) {
          left: calc(100% + 15px);
        }
        @include bp(sm) {
          left: 50%;
          transform: translateX(-50%) rotate(90deg);
          top: calc(100% + 65px);
        }
      }
    }
    >span{
      position: relative;
      min-width: max-content;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__lg{
    width: 268px;
    @include bp(lg) {
      width: 248px;
    }
    @include bp(md) {
      width: 170px;
    }
    >div{
      width: 268px;
      height: 268px;
      @include bp(lg) {
        width: 248px;
        height: 248px;
      }
      @include bp(md) {
        width: 170px;
        height: 170px;
      }
      >i{
        width: 226px;
        height: 226px;
        @include bp(lg) {
          width: 211px;
          height: 211px;
        }
        @include bp(md) {
          width: 150px;
          height: 150px;
        }
        svg{
          width: 44px;
        }
      }
    }
  }
  &__md{
    width: 160px;
    @include bp(md) {
      width: 140px;
    }
    @include bp(sm) {
      width: 110px;
    }
    >div{
      width: 160px;
      height: 160px;
      @include bp(md) {
        width: 140px;
        height: 140px;
      }
      @include bp(sm) {
        width: 110px;
        height: 110px;
      }
      >i{
        width: 135px;
        height: 135px;
        @include bp(md) {
          width: 115px;
          height: 115px;
        }
        @include bp(sm) {
          width: 93px;
          height: 93px;
        }
        svg{
          width: 44px;
        }
      }
    }
  }
  &__sm{
    width: 130px;
    @include bp(lg) {
    }
    @include bp(md) {
      width: 90px;
    }
    >div{
      width: 130px;
      height: 130px;
      @include bp(lg) {
      }
      @include bp(md) {
        width: 90px;
        height: 90px;
      }
      >i{
        width: 110px;
        height: 110px;
        @include bp(lg) {
        }
        @include bp(md) {
          width: 75px;
          height: 75px;
        }
        svg{
          width: 44px;
          @include bp(md) {
            width: 34px;
          }
        }
      }
    }
  }
  &__xs{
    width: 120px;
    @include bp(lg) {
    }
    @include bp(md) {
      width: 80px;
    }
    >div{
      width: 120px;
      height: 120px;
      @include bp(lg) {
      }
      @include bp(md) {
        width: 80px;
        height: 80px;
      }
      >i{
        width: 101px;
        height: 101px;
        @include bp(lg) {
        }
        @include bp(md) {
          width: 65px;
          height: 65px;
        }
        svg{
          width: 37px;
          @include bp(md) {
            width: 28px;
          }
        }
      }
    }
  }
}
