.proposal-section{
  position: relative;
  padding-bottom: 35px;
  margin-top: -60px;
  @include bp(md) {
    margin-top: 0;
    padding-top: 80px;
  }
  @include bp(xs) {
    padding-top: 110px;
  }
}

.proposal-wrapper{
  display: flex;
  flex-wrap: wrap;
  @include bp(md) {
    justify-content: center;
    margin-bottom: -60px;
  }
  .col-xs-12{
    @include bp(md) {
      margin-bottom: 60px;
    }
  }
}

.proposal-item{
  width: 100%;
  position: relative;
  padding: 60px 20px 53px;
  box-shadow: 0 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  height: 100%;
  @include bp(xs) {
    padding: 67px 20px 30px;
  }
  &__green{
    background-color: $green;
    >i{
      background-color: $green;
    }
    .btn{
      color: $green;
    }
  }
  &__yellow{
    background-color: $yellow;
    >i{
      background-color: $yellow;
    }
    .btn{
      color: $yellow;
    }
  }
  &__purple{
    background-color: $purple;
    >i{
      background-color: $purple;
    }
    span{
      @include bp(xs) {
        margin: 0 -15px;
      }
    }
    .btn{
      color: $purple;
    }
  }
  >i{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -39px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp(xs) {
      top: -40px;
      width: 110px;
      height: 110px;
    }
  }
  span{
    min-height: 80px;
    height: calc(100% - 97px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #fff;
  }
  .btn{
    width: 270px;
    max-width: 100%;
    margin: 37px auto 0;
    @include bp(xs) {
      margin-top: 30px;
    }
    &:hover{
      color: #fff;
    }
  }
}
