.about-main {
  position: relative;
  padding-top: 354px;
  padding-bottom: 142px;
  overflow-x: hidden;
  margin-bottom: 170px;
  @include bp(md) {
    padding-top: 0;
    padding-bottom: 70px;
    background-color: $main;
  }
  @include bp(xs) {
    margin-bottom: 110px;
    padding-bottom: 35px;
  }

  & .container {
    display: flex;
    justify-content: end;
    @include bp(md) {
      justify-content: center;
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      bottom: 25px;
      height: calc(100% - 108px);
      left: 256px;
      width: 100vw;
      right: 0;
      z-index: -3;
      border-radius: 10px;
      background-color: $main;
      overflow: hidden;
      @include bp(lg) {
        left: 100px;
      }
      @include bp(md) {
        display: none;
      }
    }

  }
}

.about-main__img {
  position: absolute;
  top: -13px;
  left: calc(50% - -229px);
  transform: translateX(-50%);
  z-index: -2;
  @include bp(md) {
    position: static;
    transform: none;
  }
}

.about-main__img-desc {
  position: relative;
  display: block;
  width: 1152px;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  @include bp(md) {
    position: static;
    width: unset;
    border-radius: 0;
  }

  & picture {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include bp(xs) {
    display: none;
  }
}

.about-main__img-mob {
  display: none;

  & picture {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include bp(xs) {
    display: block;
  }
}

.about-main__img-small {
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
  max-width: 1920px;
  @include bp(lg) {
    left: 35%;
  }
  @include bp(md) {
    display: none;
  }

  & > div {
    width: 663px;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    @media (min-width: 1921px) {
      border-radius: 10px;
    }
  }

  & picture {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about-main__about {
  width: 100%;
  max-width: 634px;
  padding: 26px 49px 42px 51px;
  background: #F5F5F5;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(md) {
    margin-top: -80px;
  }
  @include bp(xs) {
    margin-top: -72px;
    padding: 15px 15px 20px 15px;
  }

  @media (max-width: 480px) {
    padding: 9px 11px 20px 11px;
  }


  & span {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: $main;
    @include bp(xs) {
      font-size: 30px;
      line-height: 150%;
    }
  }

  & p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $text;
    text-align: center;
    @include bp(xs) {
      font-size: 14px;
      line-height: 150%;
    }

    & + p {
      margin-top: 9px;
    }
  }
}

// ======== about-philosophy ========

.about-philosophy {
  margin-bottom: 100px;
  @include bp(xs) {
    margin-bottom: 70px;
  }
}

.about-philosophy__inner {
  padding: 100px 49px 52px 49px;
  background-color: $yellow;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(md) {
    padding-top: 80px;
  }
  @include bp(xs) {
    padding: 52px 22px 16px 22px;

  }

  & > i {
    position: absolute;
    left: 50%;
    top: -96px;
    transform: translateX(-50%);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: $yellow;
    @include bp(md) {
      top: -68px;
      width: 150px;
      height: 150px;
    }
    @include bp(xs) {
      top: -40px;
      width: 110px;
      height: 110px;
    }

    & svg {
      @include bp(md) {
        width: 90px;
      }
      @include bp(xs) {
        width: 70px;
      }
    }
  }
}

.about-philosophy__title {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: center;
  @include bp(xs) {
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 150%;
  }
}

.about-philosophy__text {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  @include bp(xs) {
    font-size: 14px;
    line-height: 150%;
  }

  & span {
    font-style: italic;
  }
}

// ======== about-team ========

.about-team {
  position: relative;
  padding-top: 125px;
  margin-bottom: 88px;
  overflow: hidden;
  @include bp(md) {
    padding-top: 268px;
  }
  @include bp(xs) {
    margin-bottom: 63px;
    padding-top: 180px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    background-color: $bg-grey;
    width: 100vw;
    height: 636px;
    @include bp(xs) {
      display: none;
    }
  }
}

.about-team__wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 730px;
}

.about-team__pic {
  position: absolute;
  top: 188px;
  left: calc(50% + 489px);
  transform: translateX(-50%);
  width: 629px;
  height: 535px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;

  & picture:nth-child(1) {
    @include bp(xs) {
      display: none;
    }
  }

  & picture:nth-child(2) {
    display: none;
    @include bp(xs) {
      display: block;
    }
  }

  @include bp(lg) {
    left: calc(50% + 381px);
  }
  @include bp(md) {
    top: -183px;
    left: 50%;
    width: 100%;
    border-radius: 0;
  }
  @include bp(xs) {
    height: 575px;
  }

  & picture {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about-team__inner {
  position: relative;
  margin-bottom: 50px;
  padding: 84px 71px 80px 70px;
  background: $main;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(sm) {
    padding: 84px 30px 80px 30px;
  }
  @include bp(xs) {
    margin-bottom: 21px;
    padding: 50px 15px 24px 15px;
  }


  & span {
    display: block;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    color: #FFFFFF;
    @include bp(sm) {
      font-size: 46px;
    }
    @include bp(xs) {
      max-width: 200px;
      margin: 0 auto;
      margin-bottom: 8px;
      font-size: 30px;
      line-height: 130%;
    }
  }

  & p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    @include bp(xs) {
      font-size: 14px;
      line-height: 130%;
    }

    & + p {
      margin-top: 25px;
      @include bp(xs) {
        margin-top: 20px;
      }
    }
  }
}

.about-team__inner-pic {
  position: absolute;
  right: -60px;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 118px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: $yellow;
  @include bp(md) {
    right: unset;
    bottom: unset;
    left: 86px;
    top: -60px;
  }
  @include bp(xs) {
    left: 30px;
    top: -37px;
    width: 75px;
    height: 75px;
  }

  & img {
    width: 60px;
    height: 60px;
    @include bp(xs) {
      width: 38px;
      height: 38px;
    }
  }
}

.about-team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  min-height: 60px;
  background: $green;
  border-radius: 5px;
  font-size: 21px;
  line-height: 130%;
  color: #fff !important;
  text-decoration: none !important;
  @include bp(xs) {
    min-height: 50px;
    font-size: 16px;
    line-height: 130%;
    margin: 0 auto;
  }

  &:hover {
    background: $main;
  }
}

// ======== about-clients ========

.about-clients {
  overflow: hidden;
  margin-bottom: 99px;
  @include bp(xs) {
    margin-bottom: 0;
  }

  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 234px;
    padding-bottom: 70px;
    @include bp(md) {
      padding-top: 497px;
    }
    @media (max-width: 930px) {
      padding-top: 427px;
    }
    @media (max-width: 810px) {
      padding-top: 387px;
    }
    @media (max-width: 650px) {
      padding-top: 307px;
    }

    @include bp(xs) {
      padding-top: 321px;
    }

    @media (max-width: 420px) {
      padding-top: 249px;
    }


    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -161px;
      z-index: -1;
      display: block;
      height: 610px;
      width: calc(100vw + 161px);
      background: $bg-grey;
      border-radius: 0 10px 10px 0;
      @include bp(sm) {
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 111px;
      left: 127px;
      z-index: -1;
      display: block;
      height: 517px;
      width: 100vw;
      background: $yellow;
      border-radius: 10px 0 0 10px;
      @include bp(md) {
        top: 0;
        bottom: unset;
        left: -50%;
        width: calc(100vw + 50%);
      }
      @include bp(xs) {
        height: 320px;
      }
    }
  }
}

.about-clients__title {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 85px;
  padding: 0 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #06849B;
  text-align: center;
  @include bp(xs) {
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 130%;
  }

}

.about-clients__pic {
  position: absolute;
  left: calc(50% - 353px);
  transform: translateX(-50%);
  max-width: 1045px;
  border-radius: 10px;
  overflow: hidden;

  & picture:nth-child(1) {
    @include bp(xs) {
      display: none;
    }
  }

  & picture:nth-child(2) {
    display: none;
    @include bp(xs) {
      display: block;
    }
  }

  @include bp(lg) {
    left: calc(50% - 218px);
  }
  @include bp(md) {
    left: 50%;
    max-width: unset;
    width: calc(100% - 30px);
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
  }
  @media (max-width: 630px) {
    border-radius: 10px 10px 0 0;
  }

  & picture {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about-clients__inner {
  max-width: 730px;
  padding: 52px 95px 66px 95px;
  background: $main;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(sm) {
    border-radius: 0 0 10px 10px;
    padding: 32px 45px 66px 45px;
  }
  @include bp(xs) {
    padding: 16px 15px 20px 16px
  }

  & span {
    display: block;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: $yellow;
    @include bp(xs) {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 130%;
    }
  }

  & p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    @include bp(xs) {
      font-size: 14px;
      line-height: 130%;
      }


    & + p {
      padding-top: 10px;
      @include bp(xs) {
        padding-top: 13px;
      }
    }
  }
}

// ======== about-advantages ========

.about-advantages {
  margin-bottom: 92px;
  @include bp(xs) {
    margin-bottom: 63px;
  }
}

.about-advantages__inner {
  padding: 60px 120px;
  background: $main;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(md) {
    padding: 60px;
  }
  @include bp(xs) {
    padding: 25px 9px 24px 10px;
  }
}

.about-advantages__title {
  display: block;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  @include bp(sm) {
    font-size: 41px;
  }
  @include bp(xs) {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 120%;
  }
}

.about-advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  margin: 0 auto;
  list-style-type: disc;
  font-size: 18px;
  line-height: 200%;

  & li {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
    @include bp(xs) {
      font-size: 14px;
      line-height: 150%;
    }

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      text-align: center;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #fff;
      @include bp(xs) {
        width: 4px;
        height: 4px;
      }
    }
  }
}

// ======== about-service ========

.about-service__title {
  display: block;
  max-width: 890px;
  margin: 0 auto;
  margin-bottom: 86px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: $main;
  @include bp(xs) {
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 130%;
  }
}

.about-service {
  margin-bottom: 56px;

  & .services-section {
    margin-bottom: 0;
    padding-top: 148px;
    padding-bottom: 103px;
    background-color: $main;
    @include bp(xs) {
      padding-top: 51px;
      padding-bottom: 58px;

    }
  }

  & .services-wrapper,
  & .services-inner {
    border: 1px solid rgba(#fff, 0.2);
  }

}

// ======== what-section  ========

.about-service + .what-section {
  padding-bottom: 0;
  margin-bottom: 100px;
  @include bp(xs) {
    margin-bottom: 71px;
  }

  & .what-descr {
    @include bp(xs) {
      margin-bottom: 33px;
    }
  }


}

// ======== about-process ========

.about-process {
  &.process-section {
    background-color: $main;
  }

  & .services-wrapper {
    border: 1px solid #fff;
  }
}

// ======== process-section ========

.about-service {
  @include bp(xs) {
    margin-bottom: 42px;
  }

  & ~ .process-section {
    margin-bottom: 87px;
    background-color: $main;
    @include bp(xs) {
      margin-bottom: 64px;
    }

    & .section-title {
      color: #fff;
    }

    & .btn {
      &:hover {
        background-color: #fff;
        color: $red;
      }
    }

    & .process-item > span {
      color: #fff;
    }

    & .process-item > div {
      border: 2px solid;
    }

    & .process-item > div > svg path {
      fill: #fff;
    }

    & .process-item__blue > div {
      border-color: #fff;
    }

    & .process-item__blue > div > i {
      background-color: #fff;

      & svg path {
        fill: $main;
      }
    }

    & .process-item__yellow > div {
      border-color: $yellow;
    }

    & .process-item__green > div {
      border-color: $green;
    }
    .process-body > .col.double > svg path{
      fill: #fff;
    }
    .process-item__email > svg rect{
      stroke: #fff;
    }
  }
}

// ======== about-more ========

.about-more {
  margin-bottom: 55px;
}

.about-more__title {
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: $main;
  @include bp(xs) {
    margin-bottom: -2px;
    font-size: 30px;
    line-height: 130%;
  }
}

.about-more__subtitle {
  display: block;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  text-align: center;
  color: $text;
  @include bp(xs) {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 130%;
  }
}

.about-more__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
  padding: 30px 40px;
  background: $red;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(xs) {
    padding: 25px 15px;
    padding-bottom: 21px;
  }

  & i {
    margin-bottom: 20px;
    @include bp(xs) {
      margin-bottom: -5px;
    }
  }

  & span {
    margin-bottom: 46px;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #FFFFFF;
    @include bp(xs) {
      margin-bottom: 14px;
      font-size: 21px;
      line-height: 150%;
    }
  }

  & .btn {
    width: 100%;
    color: $red;

    &:hover {
      color: #fff;
    }
  }
}







