.about-benefits {
  &.page-title__after {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
  }

  &.nhtd.skilled-services__top {
    padding-top: 139px;
    margin-bottom: 0;

    & .section-title {
      max-width: 978px;
      margin: 0 auto;
    }
  }
}

.about-benefits-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 30px;
  @include bp(md) {
    gap: 20px;
  }
  @include bp(xs) {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
  }
}

.about-benefits-item {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  padding-right: 23px;
  background-color: $bg-grey;
  border-radius: 10px;
  @include bp(md) {
    min-height: 222px;
    padding: 20px;
    flex-direction: column;
  }

  &:nth-child(5n+1) {
    & i {
      border: 1px solid $yellow;
    }

    & i:before {
      background-color: $yellow;
    }
  }

  &:nth-child(5n+2) {
    & i {
      border: 1px solid $main;
    }

    & i:before {
      background-color: $main;
    }
  }

  &:nth-child(5n+3) {
    & i {
      border: 1px solid $purple;
    }

    & i:before {
      background-color: $purple;
    }
  }

  &:nth-child(5n+4) {
    & i {
      border: 1px solid $green;
    }

    & i:before {
      background-color: $green;
    }
  }

  &:nth-child(5n+5) {
    & i {
      border: 1px solid $red;
    }

    & i:before {
      background-color: $red;
    }
  }

  & i {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 123px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid $yellow;
    @include bp(md) {
      margin-top: 0;
    }
    @include bp(xs) {
      width: 85px;
      height: 85px;
      margin-right: 0;
      margin-bottom: 9px;
      padding: 25px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: calc(100% - 22px);
      height: calc(100% - 22px);
      border-radius: 50%;
      @include bp(xs) {
        //width: calc(100% - 10px);
        //height: calc(100% - 10px);
      }
    }

    & img {
      @include bp(xs) {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }

  & > div {
    & span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      color: $text;
      @include bp(xs) {
        text-align: center;
        font-size: 14px;
        line-height: 130%;
      }
    }

    & b {
      display: block;
      width: fit-content;
      margin-bottom: 10px;
      padding: 0 2px;
      font-weight: 700;
      font-size: 10px;
      line-height: 150%;
      color: #FFFFFF;
      background-color: $red;
      border-radius: 2px;
      @include bp(xs) {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }
}

.about-benefits-call-us {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 85px;
  padding: 30px 80px;
  border-radius: 5px;
  background-color: $yellow;
  @include bp(md) {
    padding: 30px 20px;
  }
  @include bp(xs) {
    flex-direction: column;
    padding: 20px 15px;
    margin-bottom: 60px;
  }

  & i {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 123px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    @include bp(md) {
      margin-top: 0;
    }
    @include bp(xs) {
      width: 85px;
      height: 85px;
      margin-right: 0;
      padding: 25px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: calc(100% - 22px);
      height: calc(100% - 22px);

      border-radius: 50%;
      background-color: #fff;
      @include bp(xs) {
        //width: calc(100% - 10px);
        //height: calc(100% - 10px);
      }
    }

    & img {
      @include bp(xs) {
        margin-bottom: 5px;
        margin-left: 4px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }

  & span {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #FFFFFF;
    @include bp(xs) {
      font-size: 30px;
      line-height: 130%;
      text-align: center;
    }
  }
}

.about-benefits-talk {
  position: relative;
  background-color: $main;
  max-width: 540px;
  margin: 0 auto;
  padding: 73px 10px 44px 10px;
  border-radius: 5px;
  margin-bottom: 88px;
  @include bp(xs) {
    margin-bottom: 62px;
    padding: 52px 5px 19px 5px;
  }

  & i {
    position: absolute;
    left: 50%;
    top: -54px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: $main;
    @include bp(xs) {
      top: -40px;
      width: 110px;
      height: 110px;
    }
  }

  & img {
    width: 60px;
    height: auto;
  }

  & p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    @include bp(xs) {

    }
  }

}

.about-benefits-more {
  margin-bottom: 114px;
  @include bp(xs) {
    margin-bottom: 27px;
  }
}

.about-benefits-more__title {
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #06849B;
  @include bp(xs) {
    font-size: 30px;
    line-height: 130%;
  }
}

.about-benefits-more__subtitle {
  display: block;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  text-align: center;
  color: #5E5D5D;
  @include bp(xs) {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 130%;
  }
}

.about-benefits-more__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  padding: 38px 40px;
  padding-bottom: 30px;
  background-color: $green;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(xs) {
    padding: 23px 15px;
    padding-bottom: 20px;
  }

  & i {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
    @include bp(xs) {
      margin-bottom: 8px;
    }
  }

  & span {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #FFFFFF;
    @include bp(xs) {
      margin-bottom: 14px;
      font-size: 21px;
      line-height: 150%;
    }
  }

  & .btn {
    width: 100%;
    color: $green;
    &:hover {
      color: #fff;
    }
  }
}

