.blog-caregivers{
  display: flex;
  padding-top: 115px;
  padding-bottom: 15px;
  @include bp(xs) {
    padding-top: 100px;
  }
  >.container{
    max-width: 100%;
  }
  .section-title{
    margin: 0 auto 80px;
    width: 730px;
    max-width: 100%;
    text-align: center;
    @include bp(xs) {
      margin-bottom: 65px;
    }
  }
  .article-content__aside{
    margin-top: 0;
  }
}
