.caregiver-main{
  margin-bottom: 80px;
  overflow: hidden;
  @include bp(xs) {
    margin-bottom: 70px;
  }
}

.caregiver-main__top{
  padding: 125px 0 70px;
  @include bp(xs) {
    padding-top: 100px;
  }
  .section-title{
    text-align: center;
  }
}

.caregiver-main__bot{
  position: relative;
  height: 723px;
  @include bp(md) {
    height: auto;
    padding-bottom: 60px;
    background-color: $bg-grey;
  }
  @include bp(xs) {
    padding-bottom: 20px;
  }
  &:before{
    position: absolute;
    content: '';
    background: $bg-grey;
    width: 100%;
    height: 636px;
    @include bp(md) {
      display: none;
    }
  }
  >.container{
    position: relative;
    z-index: 1;
    padding-top: 226px;
    @include bp(md) {
      padding-top: 0;
    }
  }
}

.caregiver-main__pic{
  position: absolute;
  width: 1045px;
  height: 535px;
  top: 188px;
  left: 325px;
  border-radius: 10px;
  overflow: hidden;
  @include bp(md) {
    position: relative;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
  }
  @include bp(xs) {
    height: auto;
    width: 100vw;
  }
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $main;
    mix-blend-mode: lighten;
    opacity: 0.5;
    border-radius: 10px;
    @include bp(md) {
      border-radius: 0;
    }
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include bp(md) {
      display: none;
    }
    +img{
      display: none;
      @include bp(md) {
        display: block;
      }
    }
  }
}

.caregiver-main__txt{
  position: relative;
  z-index: 1;
  width: 675px;
  max-width: 100%;
  border-radius: 10px;
  background-color: $main;
  color: #fff;
  text-align: center;
  padding: 40px 30px;
  @include bp(md) {
    margin: -60px auto 0;
  }
  @include bp(xs) {
    margin-top: -30px;
    padding: 20px 10px;
  }
  p{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 10px;
    @include bp(xs) {
      font-size: 14px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  strong{
    font-weight: 700;
  }
}

.caregiver-why{
  margin-bottom: 90px;
  background-color: $green;
  color: #fff;
  padding: 50px 0 60px;
  @include bp(xs) {
    padding: 15px 0 20px;
    margin-bottom: 70px;
  }
  .section-title{
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    @include bp(xs) {
      margin-bottom: 15px;
    }
  }
}

.caregiver-why__descr{
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 50px;
  @include bp(xs) {
    font-size: 14px;
    margin-bottom: 18px;
  }
}

.caregiver-why__list{
  width: 1050px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  @include bp(xs) {
    font-size: 14px;
    margin-bottom: -20px;
  }
  li{
    width: 50%;
    padding: 0 25px;
    margin-bottom: 60px;
    display: flex;
    @include bp(sm) {
      padding: 0 15px;
    }
    @include bp(xs) {
      width: 100%;
      padding: 0;
      margin-bottom: 18px;
    }
    svg{
      min-width: 29px;
      margin-right: 25px;
      margin-top: 5px;
      @include bp(sm) {
        margin-right: 15px;
      }
      @include bp(xs) {
        width: 25px;
        height: 25px;
        min-width: 25px;
        margin-right: 25px;
      }
    }
  }
}

.caregiver-jobs{
  background-color: $bg-grey;
  padding: 145px 0 125px;
  margin-bottom: 55px;
  @include bp(sm) {
    padding: 60px 0;
  }
  @include bp(xs) {
    padding: 100px 0;
    margin-bottom: 40px;
  }
  @include bp(xxs) {
    padding: 70px 0;
  }
}

.caregiver-jobs__wrapper {
  width: 465px;
  height: 465px;
  border: 1px solid $main;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: $main;
  padding: 80px;
  text-align: center;
  @include bp(md) {
    transform: scale(.7);
  }
  @include bp(sm) {
    transform: scale(.6);
  }
  @include bp(xs) {
    transform: scale(1.2);
    width: 156px;
    height: 156px;
    padding: 32px;
    font-size: 14px;
  }
  @include bp(xxs) {
    transform: none;
  }
}

.caregiver-jobs__item{
  position: absolute;
  width: 123px;
  height: 123px;
  background: $bg-grey;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include bp(xs) {
    width: 42px;
    height: 42px;
  }
  >i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    padding: 18px;
    @include bp(xs) {
      width: 32px;
      height: 32px;
      padding: 6px;
    }
    svg{
      max-width: 100%;
      max-height: 100%;
    }
  }
  >span{
    display: block;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $main;
    text-align: left;
    @include bp(xs) {
      font-size: 10px;
      text-align: center;
      line-height: 120%;
    }
  }
  &.item1 {
    border-color: $yellow;
    top: -67px;
    left: 50%;
    transform: translateX(-50%);
    @include bp(xs) {
      top: -22px;
    }
    >i{
      background-color: $yellow;
    }
    >span{
      width: max-content;
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(100% + 10px);
      @include bp(xs) {
        width: 110px;
        bottom: calc(100% + 3px);
      }
    }
  }
  &.item2 {
    border-color: $red;
    top: -16px;
    left: 30px;
    @include bp(xs) {
      top: -5px;
      left: 10px;
    }
    >i{
      background-color: $red;
    }
    >span{
      width: 200px;
      right: calc(100% + 18px);
      top: 12px;
      @include bp(xs) {
        width: 118px;
        right: 0;
        top: auto;
        bottom: calc(100% + 2px);
      }
    }
  }
  &.item3 {
    border-color: $purple;
    top: -16px;
    right: 30px;
    @include bp(xs) {
      top: -5px;
      right: 10px;
    }
    >i{
      background-color: $purple;
    }
    >span{
      width: max-content;
      left: calc(100% + 27px);
      top: 40px;
      @include bp(xs) {
        left: 19px;
        top: auto;
        bottom: calc(100% + 3px);
      }
    }
  }
  &.item4 {
    border-color: $main;
    top: 121px;
    left: -56px;
    @include bp(xs) {
      top: 40px;
      left: -18px;
    }
    >i{
      background-color: $main;
    }
    >span{
      width: 152px;
      right: calc(100% + 24px);
      top: 36px;
      @include bp(xs) {
        width: 75px;
        right: 14px;
        top: auto;
        bottom: calc(100% + 2px);
      }
    }
  }
  &.item5 {
    border-color: $green;
    top: 121px;
    right: -56px;
    @include bp(xs) {
      top: 40px;
      right: -18px;
    }
    >i{
      background-color: $green;
    }
    >span{
      width: 174px;
      left: calc(100% + 33px);
      top: 50%;
      transform: translateY(-50%);
      @include bp(xs) {
        width: 78px;
        left: 14px;
        top: auto;
        transform: none;
        bottom: calc(100% + 2px);
      }
    }
  }
  &.item6 {
    border-color: $green;
    top: 274px;
    left: -30px;
    @include bp(xs) {
      top: 92px;
      left: -10px;
    }
    >i{
      background-color: $green;
    }
    >span{
      width: max-content;
      right: calc(100% + 30px);
      top: 50%;
      transform: translateY(-50%);
      @include bp(xs) {
        width: 46px;
        right: calc(100% + 4px);
      }
    }
  }
  &.item7 {
    border-color: $main;
    top: 274px;
    right: -30px;
    @include bp(xs) {
      top: 92px;
      right: -10px;
    }
    >i{
      background-color: $main;
    }
    >span{
      width: 170px;
      left: calc(100% + 42px);
      top: 45px;
      @include bp(xs) {
        width: 80px;
        left: 18px;
        top: calc(100% - 3px);
      }
    }
  }
  &.item8 {
    border-color: $purple;
    top: 383px;
    left: 83px;
    @include bp(xs) {
      top: 128px;
      left: 27px;
    }
    >i{
      background-color: $purple;
    }
    >span{
      width: 230px;
      right: 100%;
      top: 88px;
      @include bp(xs) {
        width: 92px;
        right: 7px;
        top: calc(100% - 1px);
      }
    }
  }
  &.item9 {
    border-color: $red;
    top: 383px;
    right: 83px;
    @include bp(xs) {
      top: 128px;
      right: 27px;
    }
    >i{
      background-color: $red;
    }
    >span{
      width: max-content;
      left: calc(100% + 18px);
      top: 80px;
      @include bp(xs) {
        width: 78px;
        left: -6px;
        top: calc(100% + 2px);
      }
    }
  }
}

.caregiver-interested{
  padding: 35px 0;
  @include bp(xs) {
    padding: 30px 0;
  }
}

.caregiver-interested__wrapper{
  border-radius: 10px;
  background-color: $main;
  box-shadow: 0 4px 20px rgba(64, 64, 64, 0.1);
  text-align: center;
  color: #fff;
  padding: 70px;
  position: relative;
  z-index: 1;
  @include bp(xs) {
    padding: 20px 10px;
  }
  @include bp(xxs) {
    padding: 20px 8px;
  }
  .section-title{
    color: #fff;
    width: 470px;
    max-width: 100%;
    margin: 0 auto 25px;
    @include bp(xs) {
      margin-bottom: 15px;
    }
  }
  p{
    font-size: 18px;
    line-height: 150%;
    width: 570px;
    max-width: 100%;
    margin: 0 auto 15px;
    @include bp(xs) {
      font-size: 14px;
      width: 275px;
      margin: 0 auto 10px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  a{
    position: relative;
    padding: 0 6px;
    margin: 0 3px;
    &:before{
      position: absolute;
      content: '';
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 24px;
      width: 100%;
      background: #fff;
      border-radius: 3px;
      @include bp(xs) {
        height: 21px;
      }
    }
  }
}

.caregiver-testimonials{
  padding: 55px 0 35px;
  @include bp(xs) {
    padding: 30px 0;
  }
  .section-title{
    text-align: center;
    margin-bottom: 35px;
    @include bp(xs) {
      margin-bottom: 20px;
    }
  }
}

.caregiver-testimonials__txt{
  .btn{
    width: 320px;
    max-width: 100%;
    margin: 70px auto 0;
    filter: drop-shadow(0px 4px 20px rgba(64, 64, 64, 0.1));
    @include bp(xs) {
      margin-top: 20px;
      width: 100%;
    }
    &:hover{
      background-color: $main;
      border-color: $main;
    }
  }
}
