.patients-accordion{
  width: 920px;
  max-width: 100%;
  margin: 0 auto -20px;
  .accordion-item{
    margin-bottom: 20px;
    &:nth-child(odd){
      .accordion-head{
        background-color: $yellow;
      }
      .accordion-body{
        background-color: $yellow;
      }
    }
    &.active{
      .accordion-head{
        border-radius: 10px 10px 0 0;
        transition: .1s border-radius 0s linear;
        span{
          transform: scale(1, -1);
        }
      }
    }
    .accordion-head{
      background-color: $main;
      padding: 15px 95px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      transition: .1s border-radius .3s linear;
      @include bp(sm) {
        padding: 15px 45px;
      }
      @include bp(xs) {
        min-height: 80px;
        padding: 7px 10px;
      }
      >i{
        width: 66px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include bp(xs) {
          width: 35px;
          height: 35px;
        }
        svg{
          max-width: 100%;
          max-height: 100%;
        }
      }
      >div{
        width: calc(100% - 86px);
        padding: 0 25px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
        color: #fff;
        @include bp(xs) {
          width: calc(100% - 50px);
          padding: 0 9px;
          font-size: 14px;
          line-height: 150%;
        }
      }
      >span{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        @include bp(xs) {
          width: 15px;
          height: 15px;
        }
      }
    }
    .accordion-body{
      background-color: $main;
      color: #fff;
      border-radius: 0 0 10px 10px;
      padding: 5px 95px 35px;
      display: none;
      font-size: 14px;
      line-height: 150%;
      @include bp(sm) {
        padding: 5px 45px 35px;
      }
      @include bp(xs) {
        padding: 10px 15px 20px;
      }
      .patients-accordion__title{
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 21px;
        line-height: 110%;
        margin-top: 20px;
        margin-bottom: 15px;
      }
      .patients-accordion__subtitle{
        display: block;
        font-size: 18px;
        margin-bottom: 15px;
      }
      p{
        margin-bottom: 15px;
      }
      ul{
        padding-left: 18px;
        list-style-type: disc;
        margin-bottom: 15px;
      }
      ol{
        padding-left: 18px;
        list-style-type: decimal;
        margin-bottom: 15px;
      }
      strong{
        font-weight: 700;
      }
      a{
        color: #fff;
        text-decoration: underline;
        word-break: break-all;
        &:hover{
          color: $main;
          text-decoration: none;
        }
      }
      >*{
        &:first-child{
          margin-top: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
