.header {
  transition: linear 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  @include bp(xs) {
    height: 50px;
  }
  &.fixed {
    top: -150px;
    @include bp(xs) {
      top: 0;
    }
  }
}

.header-main__wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
  height: 97px;
  @include bp(xs) {
    height: 50px;
    padding: 10px 0;
  }
}

.header-left{
  display: flex;
  align-items: center;
  @include bp(md) {
    display: none;
  }
}

.header-phone{
  display: flex;
  align-items: center;
  color: $text;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  margin-right: 40px;
  @include bp(md) {
    margin-bottom: 5px;
    margin-right: 0;
  }
  &:hover, &:focus{
    text-decoration: none;
  }
  &:hover{
    color: $main;
    svg{
      path{
        fill: $yellow;
      }
    }
  }
  svg{
    margin-right: 10px;
    @include bp(xs) {
      width: 22px;
      height: 22px;
    }
  }
}

.header-address{
  display: block;
  color: $text;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  margin-bottom: 5px;
  &:hover, &:focus{
    text-decoration: none;
  }
  &:hover{
    color: $main;
  }
}

.header-email{
  display: flex;
  align-items: center;
  color: $text;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  &:hover, &:focus{
    text-decoration: none;
  }
  &:hover{
    color: $main;
    svg{
      path{
        fill: $yellow;
      }
    }
  }
  svg{
    margin-right: 10px;
    @include bp(xs) {
      width: 22px;
      height: 22px;
    }
  }
}

.header-logo{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  @include bp(md) {
    position: static;
    transform: none;
  }
  @include bp(xs) {
    width: 137px;
    height: 30px;
  }
  img{
    @include bp(xs) {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    +img{
      display: none;
      @include bp(xs) {
        display: block;
      }
    }
  }
}

.header-right{
  display: flex;
  align-items: center;
  @include bp(md) {
    justify-content: flex-end;
  }
}

.header-menu__top{
  display: flex;
  margin-right: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  @include bp(md) {
    display: none;
  }
  li{
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    a{
      color: $text;
      text-decoration: none;
      &:hover, &:focus{
        color: $main;
        text-decoration: underline;
      }
    }
  }
}

.header-search__wrapper{
  position: relative;
  margin-right: 26px;
  @include bp(md) {
    display: none;
  }
}

.header-search__btn{
  display: flex;
  cursor: pointer;
  &:hover{
    svg{
      path{
        fill: $yellow;
      }
    }
  }
}

.header-lang__wrapper{
  position: relative;
  @include bp(md) {
    display: none;
  }
  &.active{
    .header-lang__list{
      visibility: visible;
      opacity: 1;
      top: calc(100% + 10px);
    }
  }
}

.header-lang__btn{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $text;
  cursor: pointer;
  &:hover{
    color: $main;
  }
  img{
    margin-right: 5px;
  }
  span{
    width: 20px;
  }
}

.header-lang__list{
  position: absolute;
  z-index: 1;
  min-width: 100px;
  width: max-content;
  box-shadow: 0 4px 20px rgba(64, 64, 64, 0.1);
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  right: 0;
  top: calc(100% + 30px);
  transition: linear .2s;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  li{
    a{
      display: flex;
      align-items: center;
      padding: 0 10px;
      height: 22px;
      text-decoration: none;
      color: $text;
      &:hover{
        text-decoration: none;
        color: $text;
        background-color: $bg-grey;
      }
    }
  }
}

.header-bot{
  background-color: $main;
  @include bp(md) {
    display: none;
  }
}

.header-menu{
  height: 45px;
  display: flex;
  >li{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    &:last-child{
      >ul{
        left: auto;
        right: 0;
      }
    }
    &:hover{
      >ul{
        opacity: 1;
        visibility: visible;
        z-index: 1;
        top: 100%;
      }
    }
    &.current-menu-item{
      >a{
        padding: 0 15px;
        background-color: $red;
        &:hover{
          background-color: $red;
        }
      }
    }
    >a{
      height: 100%;
      flex: 1 0 auto;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      text-decoration: none;
      padding: 0 12px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      @include bp(lg) {
        font-size: 12px;
        padding: 0 10px;
      }
      &:hover{
        color: #fff;
        background-color: $yellow;
      }
      svg{
        margin-left: 10px;
        opacity: .5;
      }
    }
    >ul{
      position: absolute;
      left: 0;
      top: calc(100% + 20px);
      transition: linear .2s;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      min-width: 250px;
      max-width: 300px;
      box-shadow: 0 4px 20px rgba(64, 64, 64, 0.1);
      border-radius: 0 0 5px 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      padding: 10px 0;
      >li{
        >a{
          display: block;
          padding: 5px 17px;
          color: $text;
          &:hover{
            color: $main;
          }
        }
      }
    }
  }
}

.header-spacer{
  height: 142px;
  @include bp(md) {
    height: 97px;
  }
  @include bp(xs) {
    height: 50px;
  }
}

.header-phone__mob{
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  background-color: $yellow;
  width: 130px;
  height: 45px;
  border-radius: 5px;
  margin-right: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  @include bp(md) {
    display: flex;
  }
  @include bp(xs) {
    width: 80px;
    height: 30px;
    font-size: 12px;
    margin-right: 17px;
  }
  svg{
    margin-right: 15px;
    @include bp(xs) {
      margin-right: 7px;
    }
  }
}

.mobile-menu__btn{
  display: none;
  width: 33px;
  height: 33px;
  position: relative;
  @include bp(md) {
    display: flex;
  }
  svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out .3s;
    +svg{
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
  }
  &.active {
    svg{
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
      +svg{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.header-search{
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  top: 0;
  height: 97px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  @include bp(xs) {
    height: 50px;
  }
  &.active{
    display: flex;
  }
}

.header-search__form{
  display: flex;
  align-items: center;
  position: relative;
  width: 850px;
  height: 40px;
  max-width: calc(100vw - 30px);
  background: #fff;
  box-shadow: 0 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 5px;
  padding-left: 17px;
  padding-right: 8px;
  @include bp(md) {
    width: 750px;
  }
  @include bp(xs) {
    box-shadow: none;
    padding: 0 3px 0 0;
  }
  button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    font-size: 0;
    border: none;
    background: transparent;
  }
  input{
    width: calc(100% - 48px);
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    padding: 0 6px;
    @include bp(xs) {
      padding-left: 2px;
    }
    &::placeholder{
      color: $text;
    }
    &:focus{
      &::placeholder{
        color: transparent;
      }
    }
  }
}

.header-search__close{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  svg{
    @include bp(xs) {
      width: 17px;
      height: 17px;
    }
    path{
      @include bp(xs) {
        stroke: $red;
      }
    }
  }
}

.mobile-menu__wrapper{
  opacity: 0;
  visibility: hidden;
  transition: linear .2s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
}

.mobile-menu__head{
  display: flex;
  height: 97px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(56, 56, 56, 0.2);
  @include bp(xs) {
    height: 50px;
  }
  >.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97px;
    @include bp(sm) {
      width: 100%;
    }
    @include bp(xs) {
      height: 50px;
    }
    >div{
      display: flex;
      align-items: center;
    }
  }
}

.mobile-menu__close{
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  svg{
    transition: ease-in-out .3s;
  }
}

.mobile-menu__main{
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  height: calc(100% - 97px);
  overflow: auto;
  padding: 10px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include bp(xs) {
    height: calc(100% - 50px);
  }
  @supports (-webkit-touch-callout: none) {
    padding-bottom: 150px;
  }
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear 0.2s;
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 50px;
    width: 3px;
    transition: linear 0.2s;
    cursor: grab;
  }
}

.mobile-menu{
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 15px;
  >li{
    display: flex;
    flex-wrap: wrap;
    >a{
      padding: 5px 0;
      color: $text;
      &:hover{
        color: $main;
      }
    }
    >span{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1 0 auto;
      &.opened{
        i{
          transform: rotate(90deg);
        }
      }
      i{
        width: 11px;
        min-width: 11px;
        height: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .submenu{
    width: 100%;
    display: none;
    padding: 0 0 5px 20px;
    li{
      a{
        padding: 5px 0;
        display: block;
        color: $text;
        &:hover{
          color: $main;
        }
      }
    }
  }
}

.mobile-menu__lang{
  display: flex;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 25px;
  li{
    margin-right: 4px;
    &:last-child{
      margin-right: 0;
    }
    span{
      color: $red;
    }
    a{
      color: $text;
      &:hover{
        color: $main;
      }
    }
  }
}
