.homehealthe {
  position: relative;
  margin-top: 74px;
  padding-top: 126px;
  padding-bottom: 101px;
  overflow: hidden;
  @media (max-width: 1327px) {
    padding-top: 392px;
  }
  @include bp(lg) {
    padding-top: 0;
    }
  @include bp(sm) {
    background-color: $bg-grey;
    }
  @include bp(xs) {
    padding-bottom: 20px;
    }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 636px;
    background-color: $bg-grey;
    @include bp(sm) {
      display: none;
      }

  }

  & .container {
    position: relative;
  }
}

.homehealthe__inner {
  position: relative;
  z-index: 1;
  max-width: 730px;
  padding: 108px 45px;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  background-color: $main;
  @media (max-width: 1327px) {
    padding: 50px 45px;
  }
  @include bp(lg) {
    margin: 0 auto;
    margin-top: -138px;
  }
  @include bp(md) {
    margin-top: -90px;
    }
  @include bp(xs) {
    padding: 20px 10px;
    margin-top: -30px;
    }

  & p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    @include bp(xs) {
      font-size: 14px;
      line-height: 130%;
      }

    & + p {
      margin-top: 20px;
      @include bp(xs) {
        margin-top: 10px;
        }
    }
  }
}

.homehealthe__pic {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  padding-right: 160px;
  @media (max-width: 1550px) {
    padding-right: 15px;
  }
  @media (max-width: 1327px) {
    bottom: unset;
    top: 0;
  }
  @include bp(lg) {
    position: static;
    padding-right: 0;
    }

  & div {
    width: 1045px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    @include bp(lg) {
      border-radius: 0;
      width: 100%;
      }


    & img {
      width: 100%;
      height: auto;

      &:nth-child(1) {
        @include bp(xs) {
          display: none;
        }
      }

      &:nth-child(2) {
        display: none;
        @include bp(xs) {
          display: block;
        }
      }
    }

  }
}
