.homehealthe {
  position: relative;
  margin-top: 74px;
  margin-bottom: 77px;
  padding-top: 126px;
  padding-bottom: 101px;
  overflow: hidden;
  @media (max-width: 1327px) {
    padding-top: 392px;
  }
  @include bp(lg) {
    padding-top: 0;
  }
  @include bp(sm) {
    padding-bottom: 37px;
    background-color: $bg-grey;
  }
  @include bp(xs) {
    margin-bottom: 62px;
    padding-bottom: 20px;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 636px;
    background-color: $bg-grey;
    @include bp(sm) {
      display: none;
    }
  }

  & .container {
    position: relative;
  }
}

.homehealthe__inner {
  position: relative;
  z-index: 1;
  max-width: 730px;
  padding: 108px 45px;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  background-color: $main;
  @media (max-width: 1327px) {
    padding: 50px 45px;
  }
  @include bp(lg) {
    margin: 0 auto;
    margin-top: -138px;
  }
  @include bp(md) {
    margin-top: -90px;
  }
  @include bp(xs) {
    padding: 20px 10px;
    margin-top: -30px;
  }

  & p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    @include bp(xs) {
      font-size: 14px;
      line-height: 130%;
    }

    & + p {
      margin-top: 20px;
      @include bp(xs) {
        margin-top: 10px;
      }
    }
  }
}

.homehealthe__pic {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  padding-right: 160px;
  @media (max-width: 1550px) {
    padding-right: 15px;
  }
  @media (max-width: 1327px) {
    bottom: unset;
    top: 0;
  }
  @include bp(lg) {
    position: static;
    padding-right: 0;
  }

  & div {
    width: 1045px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    @include bp(lg) {
      border-radius: 0;
      width: 100%;
    }

    & img {
      width: 100%;
      height: auto;

      &:nth-child(1) {
        @include bp(xs) {
          display: none;
        }
      }

      &:nth-child(2) {
        display: none;
        @include bp(xs) {
          display: block;
        }
      }
    }
  }
}

.homehealthe-care {
  margin-bottom: 51px;
  @include bp(xs) {
    margin-bottom: 31px;
  }

  & + .caregiver-courses__faq {
    margin-bottom: 15px;
    @include bp(xs) {
      margin-bottom: 30px;
    }

    & .faq-items .section-title {
      margin-bottom: 39px;
      @include bp(xs) {
        margin-bottom: 20px;
      }
    }
  }

  & .section-title {
    margin-bottom: 44px;
    text-align: center;
    @include bp(xs) {
      margin-bottom: 11px;
    }
  }
}

.homehealthe-care__wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  @include bp(sm) {
    flex-direction: column;
    align-items: center;
  }
  @include bp(xs) {
    gap: 20px;
  }
}

.homehealthe-care__item {
  flex-direction: column;
  display: flex;
  width: 350px;
  @media (max-width: 420px) {
    width: 100%;
  }
}

.homehealthe-care__head,
.homehealthe-care__body {
  background: $main;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  color: #FFFFFF;

}

.homehealthe-care__head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  text-align: center;
  @include bp(xs) {
    min-height: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 130%;
  }
}

.homehealthe-care__body {
  flex-grow: 1;
  padding: 43px 40px 44px 70px;
  @include bp(md) {
    padding: 43px 40px 44px 46px;
  }
  @include bp(xs) {
    padding: 20px 40px 20px 19px;
  }

  & li {
    display: flex;
    align-items: center;

    & + li {
      margin-top: 20px;
      @include bp(xs) {
        margin-top: 10px;
      }
    }

    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      @include bp(xs) {
        margin-right: 10px;
      }
    }


    & span {
      position: relative;
      padding-left: 17px;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      @include bp(xs) {
        font-size: 14px;
        line-height: 120%;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        width: 5px;
        height: 5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #fff;
        @include bp(xs) {

        }
      }
    }
  }
}

.homehealthe-text {
  margin-bottom: 30px;
}

.homehealthe-text__inner {
  background: $main;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  padding: 78px 20px;
  @include bp(xs) {
    padding: 22px 10px;
  }

  & p {
    max-width: 380px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

    & + p {
      margin-top: 10px;
    }

    @include bp(xs) {
      font-size: 14px;
      line-height: 150%;
    }
  }
}
