.nhtd-offers {
  position: relative;
  margin-bottom: 70px;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 133px;
    height: 610px;
    width: calc(100vw - 54px);
    background-color: $bg-grey;
    z-index: -2;
    border-radius: 0 10px 10px 0;
    @include bp(sm) {
      display: none;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 115px;
    z-index: -1;
    height: 517px;
    right: 0;
    width: calc(100vw - 470px);
    background-color: $main;
    border-radius: 10px 0 0 10px;
    @include bp(sm) {
      display: none;
    }
  }

  & .container {
    display: flex;
    justify-content: end;
    @include bp(md) {
      justify-content: center;
    }
    @include bp(xs) {
      padding: 0;
    }
  }

}

.nhtd-offers__title-wrap {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 1920px;
  @include bp(sm) {
    top: 23px;
  }
  @include bp(xs) {
    position: static;
    transform: none;
    padding: 0 15px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 100%;
    width: 100vw;
    height: 100%;
    background-color: $yellow;
    @include bp(xs) {
      display: none;
    }
  }
}

.nhtd-offers__title {
  display: flex;
  align-items: center;
  height: 150px;
  padding: 20px;
  padding-left: 54px;
  background: $yellow;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px 0 0 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  @include bp(lg) {
    height: 100px;
    font-size: 34px;
  }
  @include bp(md) {
    height: 70px;
    font-size: 21px;
  }
  @include bp(xs) {
    width: 100%;
    height: auto;
    padding: 16px;
    font-size: 30px;
    line-height: 130%;
    border-radius: 10px 10px 0 0;
  }

}

.nhtd-offers__pic {
  width: 100%;
  max-width: 1790px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  @include bp(xs) {
    padding: 0;
  }

  & div {
    max-width: 1045px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    @include bp(sm) {
      border-radius: 10px 10px 0 0;
    }
    @include bp(xs) {
      border-radius: 0;
    }

    & img:nth-child(1) {
      @include bp(xs) {
        display: none;
      }
    }

    & img:nth-child(2) {
      display: none;
      @include bp(xs) {
        display: block;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

}

.nhtd-offers__inner {
  max-width: 730px;
  margin-top: -219px;
  padding: 46px 75px;
  background: $purple;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(md) {
    margin-top: -104px;
  }
  @include bp(sm) {
    margin-top: 0;
    padding: 46px 40px;
    border-radius: 0 0 10px 10px;
  }
  @include bp(xs) {
    padding: 15px;
    padding-bottom: 20px;
  }

  & p {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    @include bp(xs) {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 150%;
    }
  }

  b {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    @include bp(xs) {
      font-size: 14px;
      line-height: 150%;
    }
  }
}

.nhtd-offers-coordination {
  margin-bottom: 55px;
}

.nhtd-offers-coordination__inner {
  margin-bottom: 30px;
}

.nhtd-offers-coordination__inner {
  padding: 60px 65px;
  padding-bottom: 43px;
  background: #06849B;
  box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(md) {
    padding: 60px 30px;
  }
}

.nhtd-offers-coordination__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.nhtd-offers-coordination__subtitle {
  display: block;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: $yellow;
}

.nhtd-offers-coordination__text {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.coordination-list {
  position: relative;
  width: 100%;
  max-width: 863px;
  margin: 0 auto;
  margin-bottom: 20px;

  &:before {
    content: "";
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 61px;
    width: 3px;
    background-color: #fff;
  }

  & li {
    display: flex;
    align-items: center;

    & + li {
      margin-top: 14px;
    }
  }

  & li:nth-child(1) {
    & span:before {
      background-color: $green;
    }

  }

  & li:nth-child(2) {
    & span:before {
      background-color: $purple;
    }

  }

  & li:nth-child(3) {
    & span:before {
      background-color: $yellow;
    }

  }

  & li:nth-child(4) {
    & span:before {
      background-color: $red;
    }
  }

  & span {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 123px;
    margin-right: 39px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    font-weight: 400;
    font-size: 64px;
    line-height: 150%;
    color: #FFFFFF;
    @include bp(md) {
      margin-right: 25px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 94px;
      height: 94px;
      border-radius: 50%;
      background-color: #000;
    }

  }

  & p {
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
      @include bp(md) {
        font-size: 16px;
        line-height: 130%;
        }
  }
}

.nhtd-offers-coordination__bot-title {
  display: block;
  max-width: 880px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.questions-list {
  text-align: center;

  & span {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #fff;
      @include bp(xs) {
        width: 4px;
        height: 4px;
      }
    }
  }
}

.nhtd-offers-coordination__line {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 10px;
  background-color: $yellow;
  border-radius: 5px;

  & span {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
  }
}
