.swal2-container.swal2-shown{
  background: rgba($text, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 10005;
}

.swal2-modal{
  background-color: $main !important;
  width: 730px !important;
  max-width: calc(100vw - 30px);
  border-radius: 0;
  color: #fff;
  padding: 60px 60px 110px !important;
  @include bp(sm){
    padding: 60px 30px 80px !important;
  }
  @include bp(xs){
    padding: 40px 15px 80px !important;
  }
  .swal2-icon{
    display: none !important;
  }
  .swal2-title{
    font-family: $default;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 42px;
    text-align: center;
    color: #fff;
    @include bp(xs){
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 28px;
    }
  }
  .swal2-content{
    font-family: $default;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #fff;
  }
  .swal2-buttonswrapper{
    margin-top: 45px;
    @include bp(xs){
      margin-top: 25px;
    }
  }
  .swal2-styled{
    margin: 0 auto;
    width: 200px;
    height: 60px;
    font-family: $default;
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
    color: #fff;
    border: 1px solid;
    border-color: #fff !important;
    background-color: transparent !important;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    @include bp(xs) {
      height: 50px;
      font-size: 16px;
    }
    &:hover{
      color: $main;
      background-color: #fff !important;
    }
  }
}
