.quality-items{
  padding-top: 35px;
  padding-bottom: 35px;
  .section-pretitle{
    text-align: center;
    margin-bottom: 5px;
    @include bp(xs) {
      margin-bottom: 0;
    }
  }
  .section-title{
    text-align: center;
    margin-bottom: 26px;
    @include bp(xs) {
      margin-bottom: 20px;
    }
  }
}

.quality-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  @include bp(xs) {
    margin-bottom: -20px;
  }
  .col{
    width: 285px;
    padding: 0 15px;
    margin-bottom: 30px;
    @include bp(xs) {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.quality-item{
  padding: 24px 25px 25px;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 20px rgba(64, 64, 64, 0.1);
  border-radius: 10px;
  @include bp(xs) {
    padding: 20px 10px;
  }
  &__yellow{
    background-color: $yellow;
    .btn{
      &:hover{
        color: $yellow;
      }
    }
  }
  &__green{
    background-color: $green;
    .btn{
      &:hover{
        color: $green;
      }
    }
  }
  &__red{
    background-color: $red;
    .btn{
      &:hover{
        color: $red;
      }
    }
  }
  &__purple{
    background-color: $purple;
    .btn{
      &:hover{
        color: $purple;
      }
    }
  }
  i{
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  span{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 130%;
    @include bp(xs) {
      height: 72px;
    }
  }
  .btn{
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
  }
}
