.text-section{
  padding: 100px 0;
  @include bp(sm) {
    padding: 35px 0;
  }
}

.text-wrapper{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: $text;
  width: 730px;
  max-width: 100%;
  margin: 0 auto;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 56px;
  @include bp(sm) {
    padding-right: 20px;
  }
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: $bg-grey;
    width: 6px;
    border-radius: 50px;
    transition: linear .2s;
    box-shadow: none;
    @include bp(sm) {
      width: 4px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
    width: 6px;
    border-radius: 50px;
    transition: linear .2s;
    cursor: grab;
    @include bp(sm) {
      width: 4px;
    }
  }
  @include bp(sm) {
    font-size: 14px;
  }
  h3, h4, h5{
    display: block;
    margin: 0 auto 16px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    @include bp(sm) {
      font-size: 18px;
    }
  }
  p{
    margin-bottom: 22px;
    @include bp(sm) {
      margin-bottom: 15px;
    }
  }
  ul{
    margin-bottom: 22px;
    padding-left: 18px;
    list-style-type: disc;
    @include bp(sm) {
      margin-bottom: 15px;
    }
  }
  ol{
    margin-bottom: 22px;
    padding-left: 18px;
    list-style-type: decimal;
    @include bp(sm) {
      margin-bottom: 15px;
    }
  }
  *{
    &:last-child{
      margin-bottom: 0;
    }
  }
  .pic-wrapper{
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    @include bp(sm) {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    &.pic1{
      height: 400px;
      @include bp(sm) {
        height: calc(64.5vw - 60px);
      }
      @include bp(xs) {
        height: calc(64.5vw - 15px);
      }
      &:before{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $main;
        right: 0;
        top: 80px;
        @include bp(md) {
          width: 100vw;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        @include bp(sm) {
          height: calc(64.5vw - 90px);
          top: 30px;
        }
        @include bp(xs) {
          height: calc(64.5vw - 45px);
        }
      }
      &:after{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $bg-grey;
        left: 0;
        top: 40px;
        @include bp(md) {
          display: none;
        }
      }
      .pic{
        margin-left: 40px;
        @include bp(md) {
          margin: 0 auto;
        }
      }
    }
    &.pic2{
      height: 400px;
      @include bp(sm) {
        height: calc(64.5vw - 60px);
      }
      @include bp(xs) {
        height: calc(64.5vw - 15px);
      }
      &:before{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $bg-grey;
        right: 0;
        top: 80px;
        @include bp(md) {
          display: none;
        }
      }
      &:after{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $yellow;
        left: 0;
        top: 0;
        @include bp(md) {
          width: 100vw;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        @include bp(sm) {
          height: calc(64.5vw - 90px);
          top: 30px;
        }
        @include bp(xs) {
          height: calc(64.5vw - 45px);
        }
      }
      .pic{
        top: 40px;
        margin-left: 40px;
        @include bp(md) {
          top: auto;
          margin: 0 auto;
        }
      }
    }
    &.pic3{
      height: 400px;
      @include bp(sm) {
        height: calc(64.5vw - 60px);
      }
      @include bp(xs) {
        height: calc(64.5vw - 15px);
      }
      &:before{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $main;
        right: 0;
        top: 80px;
        @include bp(md) {
          width: 100vw;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        @include bp(sm) {
          height: calc(64.5vw - 90px);
          top: 30px;
        }
        @include bp(xs) {
          height: calc(64.5vw - 45px);
        }
      }
      &:after{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $bg-grey;
        left: 0;
        top: 40px;
        @include bp(md) {
          display: none;
        }
      }
      .pic{
        margin-left: 40px;
        @include bp(md) {
          margin: 0 auto;
        }
      }
    }
    &.pic4{
      height: 400px;
      @include bp(sm) {
        height: calc(64.5vw - 60px);
      }
      @include bp(xs) {
        height: calc(64.5vw - 15px);
      }
      &:before{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $yellow;
        right: 0;
        top: 80px;
        @include bp(md) {
          width: 100vw;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        @include bp(sm) {
          height: calc(64.5vw - 90px);
          top: 30px;
        }
        @include bp(xs) {
          height: calc(64.5vw - 45px);
        }
      }
      &:after{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $bg-grey;
        left: 35px;
        top: 40px;
        @include bp(md) {
          display: none;
        }
      }
      .pic{
        @include bp(md) {
          margin: 0 auto;
        }
      }
    }
    &.pic5{
      height: 400px;
      @include bp(sm) {
        height: calc(64.5vw - 60px);
      }
      @include bp(xs) {
        height: calc(64.5vw - 15px);
      }
      &:before{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $main;
        left: 0;
        top: 80px;
        @include bp(md) {
          width: 100vw;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
          top: 90px;
        }
        @include bp(sm) {
          height: calc(64.5vw - 90px);
          top: 30px;
        }
        @include bp(xs) {
          height: calc(64.5vw - 45px);
        }
      }
      &:after{
        position: absolute;
        content: '';
        border-radius: 10px;
        width: 600px;
        height: 320px;
        max-width: 100%;
        background: $bg-grey;
        right: 0;
        top: 40px;
        @include bp(md) {
          display: none;
        }
      }
      .pic{
        margin-left: 40px;
        @include bp(md) {
          margin: 0 auto;
        }
      }
    }
    .pic{
      position: relative;
      z-index: 2;
      width: 600px;
      height: 320px;
      border-radius: 10px;
      overflow: hidden;
      @include bp(sm) {
        width: calc(100% - 60px);
        height: calc(64.5vw - 90px);
      }
      @include bp(xs) {
        width: calc(100% - 30px);
        height: calc(64.5vw - 30px);
      }
      &:after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $main;
        mix-blend-mode: lighten;
        opacity: 0.5;
        border-radius: 10px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
