.vacancies-title__wrapper{
  >.container{
    @include bp(xs) {
      min-height: 290px;
      padding-bottom: 15px;
    }
  }
}

.vacancies-main{
  padding-top: 50px;
  padding-bottom: 60px;
  @include bp(xs) {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .pagination{
    justify-content: space-between;
    margin-top: 20px;
    @include bp(xs) {
      margin-top: 10px;
    }
  }
}

.vacancies-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.vacancies-info{
  background-color: $bg-grey;
  border-radius: 10px;
  padding: 24px 34px 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $text;
  margin-bottom: 35px;
  min-height: 196px;
  @include bp(xs) {
    padding: 24px 15px;
    min-height: unset;
    margin-bottom: 15px;
  }
  ul{
    list-style-type: disc;
    padding-left: 18px;
    margin-bottom: 10px;
  }
  ol{
    list-style-type: decimal;
    padding-left: 18px;
    margin-bottom: 10px;
  }
  *{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.vacancies-info__title{
  display: block;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  color: $main;
  @include bp(xs) {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.vacancies-tags{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @include bp(xs) {
    margin-bottom: 20px;
  }
  a{
    text-decoration: none;
    margin: 5px 10px 5px 0;
    width: fit-content;
    min-width: 72px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #C4C4C4;
    border-radius: 5px;
    font-size: 12px;
    color: $text;
    &:hover{
      text-decoration: none;
      background: rgba(196, 196, 196, 0.6);
    }
  }
}

.vacancies-items{
  display: flex;
  flex-wrap: wrap;
  .col-xs-12{
    margin-bottom: 30px;
    @include bp(xs) {
      margin-bottom: 20px;
    }
  }
}
.vacancies-item{
  height: 100%;
  padding: 28px 20px 36px;
  background-color: $bg-grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  @include bp(xs) {
    padding: 20px 15px 30px;
  }
}

.vacancies-item__title{
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: $text;
  @include bp(xs) {
    margin-bottom: 10px;
  }
}

.vacancies-item__info{
  flex-grow: 1;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 130%;
  color: $text;
  min-height: 50px;
  @include bp(xs) {
    margin-bottom: 20px;
    min-height: unset;
  }
  span{
    display: block;
  }
}

.vacancies-item__bot{
  display: flex;
  gap: 9px;
  @include bp(xs) {
    justify-content: space-between;
    gap: 0;
  }
  .btn{
    height: 45px;
    font-size: 16px;
    line-height: 130%;
    background: $green;
    border-color: $green;
    color: #fff;
    filter: drop-shadow(0px 4px 20px rgba(64, 64, 64, 0.1));
    border-radius: 5px;
    width: 166px;
    @include bp(sm) {
      flex-grow: 1;
    }
    @include bp(xs) {
      height: 35px;
      font-size: 14px;
      flex-grow: 0;
      width: calc(58% - 7px)
    }
    &:hover{
      background: transparent;
      color: $green;
    }
    &.btn-tr{
      border-color: $main;
      color: $main;
      background: transparent;
      width: 135px;
      @include bp(xs) {
        width: calc(42% - 7px)
      }
      &:hover{
        background: $main;
        color: #fff;
      }
    }
  }
}

.vacancies-sidebar{
  @include bp(md) {
    margin-top: 20px;
  }
  @include bp(xs) {
    margin-top: 10px;
  }
}

.vacancies-sidebar__top{
  padding: 26px 30px;
  min-height: 196px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: $bg-grey;
  @include bp(xs) {
    padding: 27px 20px;
  }
  +.blog-aside__item{
    @include bp(xs) {
      margin-bottom: 30px;
    }
  }
  img{
    object-fit: contain;
    width: 255px;
    max-width: 100%;
    margin-bottom: 13px;
    @include bp(xs) {
      width: 220px;
      margin-bottom: 24px;
    }
  }
  span{
    display: block;
    padding-left: 13px;
    font-size: 16px;
    line-height: 130%;
    color: $main;
    @include bp(xs) {
      font-size: 14px;
      padding-left: 7px;
    }
  }
}

.vacancies-sidebar__popular{
  .blog-aside__inner{
    padding: 15px 15px 0;
  }
  .vacancies-sidebar__list{
    padding: 0;
    margin-left: -2px;
    height: auto;
    overflow: visible;
    li{
      padding-left: 15px;
      position: relative;
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
      &:before{
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        background-color: $yellow;
        border-radius: 10px;
        left: 0;
        top: 7px;
      }
      a{
        div{
          font-weight: 700;
          font-size: 14px;
          line-height: 130%;
          color: $main;
          margin-bottom: 3px;
        }
        span{
          font-size: 12px;
          line-height: 130%;
          display: block;
          color: $text;
        }
      }
    }
  }
  .vacancies-sidebar__more{
    width: fit-content;
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: -5px;
    color: rgba($text, .7);
    &:hover{
      color: $yellow;
      text-decoration: none;
    }
  }
}

.vacancies-form{
  padding-bottom: 50px;
  color: #fff;
  form{
    border-radius: 10px;
    background-color: $purple;
    padding: 70px 92px 84px;
    @include bp(md) {
      padding: 60px;
    }
    @include bp(xs) {
      padding: 34px 15px 40px;
    }
    .consult-form__row .checkbox-wrapper input + label span:after{
      border-color: $purple;
    }
    .btn{
      color: $purple;
      &:hover{
        color: #fff;
      }
    }
  }
  .file-upload{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    @include bp(xs) {
      justify-content: flex-start;
      margin-bottom: 0;
    }
    >label{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
      margin: 0;
      cursor: pointer;
      @include bp(xs) {
        justify-content: flex-start;
        font-size: 14px;
      }
      input{
        display: none;
      }
      svg{
        min-width: 32px;
        @include bp(xs) {
          width: 25px;
          min-width: 25px;
          height: 25px;
        }
      }
      span{
        margin-left: 22px;
        max-width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include bp(xs) {
          margin-left: 7px;
        }
        &.error{
          color: $red;
          background: #fff;
          padding: 4px 15px;
          border-radius: 15px;
          @include bp(xs) {
            padding: 3px 12px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.vacancies-form__title{
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  margin-bottom: 12px;
}

.vacancies-form__descr{
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  max-width: 524px;
  margin: 0 auto 36px;
  @include bp(xs) {
    margin-bottom: 20px;
  }
}

// vacancy

.vacancy-title__wrapper{
  >.container{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 310px;
    position: relative;
    @include bp(md) {
      width: auto;
    }
    @include bp(sm) {
      padding: 50px 0;
    }
    @include bp(xs) {
      min-height: 290px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .page-title{
      width: auto;
      margin: 10px 0;
      @include bp(xs) {
        margin: 5px 0;
      }
    }
  }
}

.vacancy-title__tag{
  width: fit-content;
  padding: 0 20px;
  min-width: 105px;
  font-size: 14px;
  line-height: 130%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #41479B;
  @include bp(xs) {
    min-width: 90px;
    font-size: 12px;
    height: 25px;
  }
}

.vacancy-title__specs{
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  @include bp(xs) {
    font-size: 14px;
    margin-bottom: 26px;
  }
}

.vacancy-title__btn{
  background-color: $green;
  border-color: $green;
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: 40px;
  box-shadow: 0 4px 20px rgba(64, 64, 64, 0.1);
  min-width: 200px;
  width: fit-content;
  @include bp(xs) {
    position: static;
  }
  &:hover{
    background-color: $yellow;
    border-color: $yellow;
  }
}

.vacancy-main{
  background-color: $bg-grey;
  border-radius: 10px;
  padding: 54px 34px 76px 37px;
  font-size: 14px;
  line-height: 150%;
  @include bp(xs) {
    padding: 18px 15px 40px;
  }
  h2, h3, h4{
    font-weight: 700;
    font-size: 21px;
    line-height: 150%;
    color: $main;
    margin-top: 20px;
    margin-bottom: 10px;
    @include bp(xs) {
      font-size: 18px;
      margin-top: 30px;
    }
  }
  ul{
    list-style-type: disc;
    padding-left: 18px;
    margin-bottom: 10px;
  }
  ol{
    list-style-type: decimal;
    padding-left: 18px;
    margin-bottom: 10px;
  }
  *{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.vacancy-main__specs{
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 150%;
  color: $text;
  @include bp(xs) {
    font-size: 14px;
    margin-bottom: 20px;
  }
  li{
    span{
      font-weight: 700;
      color: $green;
    }
  }
}

.vacancy-main__buttons{
  display: flex;
  margin-top: 40px;
  @include bp(xs) {
    margin-top: 20px;
    justify-content: space-between;
  }
  .btn{
    height: 45px;
    font-size: 16px;
    line-height: 130%;
    background: $green;
    border-color: $green;
    color: #fff;
    filter: drop-shadow(0px 4px 20px rgba(64, 64, 64, 0.1));
    border-radius: 5px;
    width: 166px;
    margin-right: 11px;
    @include bp(xs) {
      height: 35px;
      font-size: 14px;
      flex-grow: 0;
      width: calc(58% - 7px);
      margin-right: 0;
    }
    &:hover{
      background: transparent;
      color: $green;
    }
    &.btn-tr{
      border-color: $main;
      color: $main;
      background: transparent;
      width: 135px;
      @include bp(xs) {
        width: calc(42% - 7px)
      }
      &:hover{
        background: $main;
        color: #fff;
      }
    }
  }
}

.vacancies-sidebar__tags{
  .blog-aside__inner{
    padding: 20px 10px 0 15px;
  }
  .vacancies-tags{
    margin-bottom: 0;
  }
}
