// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$main: #06849B;
$green: #7EA903;
$yellow: #FAB446;
$purple: #5064AA;
$red: #C8414B;
$bg-grey: #F5F5F5;
$text: #5E5D5D;
$default: "NotoSans";
