<header class="header">
  <div class="header-main">
    <div class="container">
      <div class="header-main__wrapper">
        <div class="header-left">
            <a href="tel:9175077500" class="header-phone">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.54 5C7.6 5.89 7.75 6.76 7.99 7.59L6.79 8.79C6.38 7.59 6.12 6.32 6.03 5H7.54ZM17.4 17.02C18.25 17.26 19.12 17.41 20 17.47V18.96C18.68 18.87 17.41 18.61 16.2 18.21L17.4 17.02ZM8.5 3H5C4.45 3 4 3.45 4 4C4 13.39 11.61 21 21 21C21.55 21 22 20.55 22 20V16.51C22 15.96 21.55 15.51 21 15.51C19.76 15.51 18.55 15.31 17.43 14.94C17.33 14.9 17.22 14.89 17.12 14.89C16.86 14.89 16.61 14.99 16.41 15.18L14.21 17.38C11.38 15.93 9.06 13.62 7.62 10.79L9.82 8.59C10.1 8.31 10.18 7.92 10.07 7.57C9.7 6.45 9.5 5.25 9.5 4C9.5 3.45 9.05 3 8.5 3Z" fill="#06849B"/>
                </svg>
                (917) 507-7500
            </a>
            <a href="mailto:info@angelcareny.com" class="header-email">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 11L4 6H20ZM20 18H4V8L12 13L20 8V18Z" fill="#06849B"/>
                </svg>
                info@angelcareny.com
            </a>
        </div>
        <a href="javascript:void(0)" class="header-logo">
            <img src="../../images/logo.svg" alt="">
            <img src="../../images/logo-mob.svg" alt="">
        </a>
        <div class="header-right">
            <ul class="header-menu__top">
                <li><a href="javascript:void(0)">Blog</a></li>
                <li><a href="javascript:void(0)">FAQ</a></li>
                <li><a href="javascript:void(0)">Forms</a></li>
                <li><a href="javascript:void(0)">Contact us</a></li>
            </ul>
            <div class="header-search__wrapper">
                <span class="header-search__btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="#06849B"/>
                    </svg>
                </span>
            </div>
            <div class="header-lang__wrapper">
                <span class="header-lang__btn">
                    <img src="../../images/icons/us.svg" alt="">
                    <span>En</span>
                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#5E5D5D"/>
                    </svg>
                </span>
                <ul class="header-lang__list">
                    <li>
                        <a href="javascript:void(0)">Spanish</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Russian</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Haitian/creole</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">French</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Punjabi</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Hindi/urdu</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Chinese</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Italian</a>
                    </li>
                </ul>
            </div>
            <a href="tel:9175077500" class="header-phone__mob">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.54 5C7.6 5.89 7.75 6.76 7.99 7.59L6.79 8.79C6.38 7.59 6.12 6.32 6.03 5H7.54ZM17.4 17.02C18.25 17.26 19.12 17.41 20 17.47V18.96C18.68 18.87 17.41 18.61 16.2 18.21L17.4 17.02ZM8.5 3H5C4.45 3 4 3.45 4 4C4 13.39 11.61 21 21 21C21.55 21 22 20.55 22 20V16.51C22 15.96 21.55 15.51 21 15.51C19.76 15.51 18.55 15.31 17.43 14.94C17.33 14.9 17.22 14.89 17.12 14.89C16.86 14.89 16.61 14.99 16.41 15.18L14.21 17.38C11.38 15.93 9.06 13.62 7.62 10.79L9.82 8.59C10.1 8.31 10.18 7.92 10.07 7.57C9.7 6.45 9.5 5.25 9.5 4C9.5 3.45 9.05 3 8.5 3Z" fill="#fff"/>
                </svg>
                Call
            </a>
            <div class="mobile-menu__btn">
                <svg width="33" height="30" viewBox="0 0 33 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="33" height="30" fill="white"/>
                    <rect x="5" y="7" width="25" height="2.5" rx="0.5" fill="#06849B"/>
                    <rect x="13" y="14" width="17" height="2.5" rx="0.5" fill="#06849B"/>
                    <rect x="5" y="21" width="25" height="2.5" rx="0.5" fill="#06849B"/>
                </svg>
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.876423 0.15037C1.07692 -0.0501233 1.40198 -0.0501233 1.60248 0.15037L16.8496 15.3974C17.0501 15.5979 17.0501 15.923 16.8496 16.1235L16.1235 16.8495C15.923 17.05 15.598 17.05 15.3975 16.8495L0.15037 1.60247C-0.0501236 1.40198 -0.0501233 1.07691 0.150371 0.876421L0.876423 0.15037Z" fill="#C8414B"/>
                    <path d="M16.8496 0.876516C17.0501 1.07701 17.0501 1.40207 16.8496 1.60257L1.60252 16.8496C1.40203 17.0501 1.07697 17.0501 0.876472 16.8496L0.150419 16.1236C-0.0500745 15.9231 -0.0500745 15.598 0.150419 15.3975L15.3975 0.150465C15.598 -0.0500281 15.9231 -0.0500277 16.1236 0.150466L16.8496 0.876516Z" fill="#C8414B"/>
                </svg>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bot">
    <div class="container">
        <div class="row">
            <ul class="header-menu">
                <li class="current-menu-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">
                        About us
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#fff"/>
                        </svg>
                    </a>
                    <ul>
                        <li><a href="javascript:void(0)">Submenu 1</a></li>
                        <li><a href="javascript:void(0)">Submenu 2</a></li>
                        <li><a href="javascript:void(0)">Submenu 3</a></li>
                        <li><a href="javascript:void(0)">Submenu 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">
                        CDPAP
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#fff"/>
                        </svg>
                    </a>
                    <ul>
                        <li><a href="javascript:void(0)">Submenu 1</a></li>
                        <li><a href="javascript:void(0)">Submenu 2</a></li>
                        <li><a href="javascript:void(0)">Submenu 3</a></li>
                        <li><a href="javascript:void(0)">Submenu 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">
                        NHTD
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#fff"/>
                        </svg>
                    </a>
                    <ul>
                        <li><a href="javascript:void(0)">Submenu 1</a></li>
                        <li><a href="javascript:void(0)">Submenu 2</a></li>
                        <li><a href="javascript:void(0)">Submenu 3</a></li>
                        <li><a href="javascript:void(0)">Submenu 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">
                        Homecare services
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#fff"/>
                        </svg>
                    </a>
                    <ul>
                        <li><a href="javascript:void(0)">Submenu 1</a></li>
                        <li><a href="javascript:void(0)">Submenu 2</a></li>
                        <li><a href="javascript:void(0)">Submenu 3</a></li>
                        <li><a href="javascript:void(0)">Submenu 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">
                        Skilled services
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#fff"/>
                        </svg>
                    </a>
                    <ul>
                        <li><a href="javascript:void(0)">Submenu 1</a></li>
                        <li><a href="javascript:void(0)">Submenu 2</a></li>
                        <li><a href="javascript:void(0)">Submenu 3</a></li>
                        <li><a href="javascript:void(0)">Submenu 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">
                        Resources
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#fff"/>
                        </svg>
                    </a>
                    <ul>
                        <li><a href="javascript:void(0)">Submenu 1</a></li>
                        <li><a href="javascript:void(0)">Submenu 2</a></li>
                        <li><a href="javascript:void(0)">Submenu 3</a></li>
                        <li><a href="javascript:void(0)">Submenu 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">
                        How to become a Caregiver
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#fff"/>
                        </svg>
                    </a>
                    <ul>
                        <li><a href="javascript:void(0)">Submenu 1</a></li>
                        <li><a href="javascript:void(0)">Submenu 2</a></li>
                        <li><a href="javascript:void(0)">Submenu 3</a></li>
                        <li><a href="javascript:void(0)">Submenu 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">
                        Testimonials
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.70078 1.4998L4.50078 5.6998L0.300781 1.4998L1.60078 0.299805L4.50078 3.1998L7.40078 0.299805L8.70078 1.4998Z" fill="#fff"/>
                        </svg>
                    </a>
                    <ul>
                        <li><a href="javascript:void(0)">Submenu 1</a></li>
                        <li><a href="javascript:void(0)">Submenu 2</a></li>
                        <li><a href="javascript:void(0)">Submenu 3</a></li>
                        <li><a href="javascript:void(0)">Submenu 4</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </div>
</header>
<div class="header-spacer"></div>
<div class="header-search">
    <form class="header-search__form">
        <button>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="#06849B"/>
            </svg>
        </button>
        <input type="search" placeholder="Search...">
        <span class="header-search__close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L13 13M13 1L1 13" stroke="#0A859C" stroke-width="2"/>
            </svg>
        </span>
    </form>
</div>
<div class="mobile-menu__wrapper">
    <div class="mobile-menu__head">
        <div class="container">
            <a href="javascript:void(0)" class="header-logo">
                <img src="../../images/logo.svg" alt="">
                <img src="../../images/logo-mob.svg" alt="">
            </a>
            <div>
                <span class="header-search__btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="#06849B"/>
                    </svg>
                </span>
                <div class="mobile-menu__close">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.876423 0.15037C1.07692 -0.0501233 1.40198 -0.0501233 1.60248 0.15037L16.8496 15.3974C17.0501 15.5979 17.0501 15.923 16.8496 16.1235L16.1235 16.8495C15.923 17.05 15.598 17.05 15.3975 16.8495L0.15037 1.60247C-0.0501236 1.40198 -0.0501233 1.07691 0.150371 0.876421L0.876423 0.15037Z" fill="#C8414B"/>
                        <path d="M16.8496 0.876516C17.0501 1.07701 17.0501 1.40207 16.8496 1.60257L1.60252 16.8496C1.40203 17.0501 1.07697 17.0501 0.876472 16.8496L0.150419 16.1236C-0.0500745 15.9231 -0.0500745 15.598 0.150419 15.3975L15.3975 0.150465C15.598 -0.0500281 15.9231 -0.0500277 16.1236 0.150466L16.8496 0.876516Z" fill="#C8414B"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu__main">
        <ul class="mobile-menu">
            <li class="has-children">
                <a href="javascript:void(0)">About us</a>
                <span>
                      <i>
                        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5.5L6.76271 5.72449L1.42373 11L0.118644 9.76531L0.355932 9.54082L4.38983 5.5L0 1.23469L1.30508 0L7 5.5Z" fill="#06849B"/>
                        </svg>
                      </i>
                    </span>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu 1</a></li>
                    <li><a href="javascript:void(0)">Submenu 2</a></li>
                    <li><a href="javascript:void(0)">Submenu 3</a></li>
                    <li><a href="javascript:void(0)">Submenu 4</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="javascript:void(0)">CDPAP</a>
                <span>
                      <i>
                        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5.5L6.76271 5.72449L1.42373 11L0.118644 9.76531L0.355932 9.54082L4.38983 5.5L0 1.23469L1.30508 0L7 5.5Z" fill="#06849B"/>
                        </svg>
                      </i>
                    </span>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu 1</a></li>
                    <li><a href="javascript:void(0)">Submenu 2</a></li>
                    <li><a href="javascript:void(0)">Submenu 3</a></li>
                    <li><a href="javascript:void(0)">Submenu 4</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="javascript:void(0)">NHTD</a>
                <span>
                      <i>
                        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5.5L6.76271 5.72449L1.42373 11L0.118644 9.76531L0.355932 9.54082L4.38983 5.5L0 1.23469L1.30508 0L7 5.5Z" fill="#06849B"/>
                        </svg>
                      </i>
                    </span>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu 1</a></li>
                    <li><a href="javascript:void(0)">Submenu 2</a></li>
                    <li><a href="javascript:void(0)">Submenu 3</a></li>
                    <li><a href="javascript:void(0)">Submenu 4</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="javascript:void(0)">Homecare services</a>
                <span>
                      <i>
                        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5.5L6.76271 5.72449L1.42373 11L0.118644 9.76531L0.355932 9.54082L4.38983 5.5L0 1.23469L1.30508 0L7 5.5Z" fill="#06849B"/>
                        </svg>
                      </i>
                    </span>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu 1</a></li>
                    <li><a href="javascript:void(0)">Submenu 2</a></li>
                    <li><a href="javascript:void(0)">Submenu 3</a></li>
                    <li><a href="javascript:void(0)">Submenu 4</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="javascript:void(0)">Skilled services</a>
                <span>
                      <i>
                        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5.5L6.76271 5.72449L1.42373 11L0.118644 9.76531L0.355932 9.54082L4.38983 5.5L0 1.23469L1.30508 0L7 5.5Z" fill="#06849B"/>
                        </svg>
                      </i>
                    </span>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu 1</a></li>
                    <li><a href="javascript:void(0)">Submenu 2</a></li>
                    <li><a href="javascript:void(0)">Submenu 3</a></li>
                    <li><a href="javascript:void(0)">Submenu 4</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="javascript:void(0)">Resources</a>
                <span>
                      <i>
                        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5.5L6.76271 5.72449L1.42373 11L0.118644 9.76531L0.355932 9.54082L4.38983 5.5L0 1.23469L1.30508 0L7 5.5Z" fill="#06849B"/>
                        </svg>
                      </i>
                    </span>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu 1</a></li>
                    <li><a href="javascript:void(0)">Submenu 2</a></li>
                    <li><a href="javascript:void(0)">Submenu 3</a></li>
                    <li><a href="javascript:void(0)">Submenu 4</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="javascript:void(0)">How to become a Caregiver</a>
                <span>
                      <i>
                        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5.5L6.76271 5.72449L1.42373 11L0.118644 9.76531L0.355932 9.54082L4.38983 5.5L0 1.23469L1.30508 0L7 5.5Z" fill="#06849B"/>
                        </svg>
                      </i>
                    </span>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu 1</a></li>
                    <li><a href="javascript:void(0)">Submenu 2</a></li>
                    <li><a href="javascript:void(0)">Submenu 3</a></li>
                    <li><a href="javascript:void(0)">Submenu 4</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="javascript:void(0)">Testimonials</a>
                <span>
                      <i>
                        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5.5L6.76271 5.72449L1.42373 11L0.118644 9.76531L0.355932 9.54082L4.38983 5.5L0 1.23469L1.30508 0L7 5.5Z" fill="#06849B"/>
                        </svg>
                      </i>
                    </span>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Submenu 1</a></li>
                    <li><a href="javascript:void(0)">Submenu 2</a></li>
                    <li><a href="javascript:void(0)">Submenu 3</a></li>
                    <li><a href="javascript:void(0)">Submenu 4</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Blog</a>
            </li>
            <li>
                <a href="javascript:void(0)">FAQ</a>
            </li>
            <li>
                <a href="javascript:void(0)">Forms</a>
            </li>
            <li>
                <a href="javascript:void(0)">Contact us</a>
            </li>
        </ul>
        <div class="mobile-menu__bot">
            <ul class="mobile-menu__lang">
                <li>
                    <span>EN</span>
                </li>
                <li>|</li>
                <li>
                    <a href="javascript:void(0)">ES</a>
                </li>
                <li>|</li>
                <li>
                    <a href="javascript:void(0)">RU</a>
                </li>
                <li>|</li>
                <li>
                    <a href="javascript:void(0)">HT</a>
                </li>
                <li>|</li>
                <li>
                    <a href="javascript:void(0)">FR</a>
                </li>
                <li>|</li>
                <li>
                    <a href="javascript:void(0)">PK</a>
                </li>
                <li>|</li>
                <li>
                    <a href="javascript:void(0)">IN</a>
                </li>
                <li>|</li>
                <li>
                    <a href="javascript:void(0)">CH</a>
                </li>
                <li>|</li>
                <li>
                    <a href="javascript:void(0)">IT</a>
                </li>
            </ul>
            <a href="tel:9175077500" class="header-phone">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.54 5C7.6 5.89 7.75 6.76 7.99 7.59L6.79 8.79C6.38 7.59 6.12 6.32 6.03 5H7.54ZM17.4 17.02C18.25 17.26 19.12 17.41 20 17.47V18.96C18.68 18.87 17.41 18.61 16.2 18.21L17.4 17.02ZM8.5 3H5C4.45 3 4 3.45 4 4C4 13.39 11.61 21 21 21C21.55 21 22 20.55 22 20V16.51C22 15.96 21.55 15.51 21 15.51C19.76 15.51 18.55 15.31 17.43 14.94C17.33 14.9 17.22 14.89 17.12 14.89C16.86 14.89 16.61 14.99 16.41 15.18L14.21 17.38C11.38 15.93 9.06 13.62 7.62 10.79L9.82 8.59C10.1 8.31 10.18 7.92 10.07 7.57C9.7 6.45 9.5 5.25 9.5 4C9.5 3.45 9.05 3 8.5 3Z" fill="#06849B"/>
                </svg>
                (917) 507-7500
            </a>
            <a href="https://www.google.com/maps/place/1580+Dahill+Rd,+Brooklyn,+NY+11204,+%D0%A1%D0%A8%D0%90/@40.6092159,-73.9765378,17z/data=!3m1!4b1!4m5!3m4!1s0x89c244e4357a6b3f:0x515433470fecf9bc!8m2!3d40.6092159!4d-73.9743491" target="_blank" class="header-address">1580 Dahill Road, Floor 2, Brooklyn, NY 11204</a>
            <a href="mailto:info@angelcareny.com" class="header-email">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 11L4 6H20ZM20 18H4V8L12 13L20 8V18Z" fill="#06849B"/>
                </svg>
                info@angelcareny.com
            </a>
        </div>
    </div>
</div>
